$baseFontSize: 16px;
$baseLineHeight: 20px;

@import "component/common";
@import "component/menu";
@import "component/layout";

#refresh-list{
    float: right;
    margin: -2px -14px 0 14px;
    width: 60px; }

#form-list{
	margin-top: -10px;}
