*.sublime-project
*.sublime-workspace
*/libraries/xpathjs_javarosa.min.js
.sass-cache
public/src-js
Code_Igniter/application/config/database.php
Code_Igniter/application/cache/*
Code_Igniter/application/logs/log-*.php
node_modules/*
public/build/*
src/js/module/print-grid.js
public/cron.log
_site/*
._*
.fuse*
.grunt/*
_SpecRunner.html
Vagrantfile
vagrant
setup
.vagrant
