[submodule "public/libraries/xpathjs_javarosa"]
	path = public/libraries/xpathjs_javarosa
	url = https://github.com/MartijnR/xpathjs_javarosa.git
[submodule "public/libraries/bootstrap-datepicker"]
	path = public/libraries/bootstrap-datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
[submodule "Code_Igniter/system"]
	path = Code_Igniter/system
	url = https://github.com/MartijnR/CodeIgniter_system.git
[submodule "public/libraries/bootstrap-timepicker"]
	path = public/libraries/bootstrap-timepicker
	url = https://github.com/jdewit/bootstrap-timepicker.git
[submodule "public/libraries/file-manager"]
	path = public/libraries/file-manager
	url = https://github.com/MartijnR/file-manager.git
[submodule "public/libraries/enketo-core"]
	path = public/libraries/enketo-core
	url = https://github.com/MartijnR/enketo-core.git
[submodule "Code_Igniter/application/libraries/xslt"]
	path = Code_Igniter/application/libraries/xslt
	url = https://github.com/MartijnR/enketo-xslt.git
[submodule "public/libraries/file-saver"]
	path = public/libraries/file-saver
	url = https://github.com/eligrey/FileSaver.js.git
[submodule "public/libraries/blob"]
	path = public/libraries/blob
	url = https://github.com/eligrey/Blob.js.git
