*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.sublime-project
*.sublime-workspace
*/libraries/xpathjs_javarosa.min.js
sftp-config.json
.sass-cache
public/js-source
*/config/database.php
*/config/config.php
Code_Igniter/application/cache/*
Code_Igniter/application/logs/*
_site/*
._.DS_Store
._css
._img
._js
._*.png
._bootstrap
.fuse_*
.~lock*
._*.sql
._*.xml
