/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: local("☺"), url(fonts/OpenSans-Regular.ttf) format("truetype");
}

/******* COLORS **********/
/*dark yellow*/
/*very light yellow*/
/*brown*/
/*dark brown*/
/*white*/
/*yellow*/
/*lighter brown but similar to header-brdr*/
/*red*/
/*darker gray */
/*light gray*/
/*very dark brown*/
/******* new ********/
/* Bootstrap color schemes */
/***************************
 ****BASIC GUI ELEMENTS ****
 ***************************/
/* line 89, ../../src/scss/screen.scss */
body, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Open Sans', Segoe UI, Arial, sans-serif;
  font-size: 1.1em;
}

/* line 93, ../../src/scss/screen.scss */
p {
  text-align: left;
  margin-top: .9em;
  margin-bottom: 2em;
  line-height: 1.4em;
}

/* line 100, ../../src/scss/screen.scss */
h2, h3, h4 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
  padding: 0 5px;
  color: #ce4f07;
}

/* line 107, ../../src/scss/screen.scss */
ul {
  list-style: disc;
  margin-left: 20px;
}

/* line 111, ../../src/scss/screen.scss */
strong {
  font-weight: bold;
}

/* line 114, ../../src/scss/screen.scss */
button.close {
  background: none;
  border: none;
}

/* line 118, ../../src/scss/screen.scss */
.center {
  text-align: center;
}

/* line 121, ../../src/scss/screen.scss */
div[id^="dialog"] p span.ui-icon {
  float: left;
  margin: .3em .7em 3em 0;
}

/* line 126, ../../src/scss/screen.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 129, ../../src/scss/screen.scss */
img.loading {
  display: block;
  margin: 15px 0 25px 48%;
}

/* line 133, ../../src/scss/screen.scss */
#upload-form img.loading {
  margin-top: 130px;
}

/* line 136, ../../src/scss/screen.scss */
.level-0, .level-1, .info, .success {
  color: #5c5c5c;
}

/*.level-1, .warning{}*/
/* line 141, ../../src/scss/screen.scss */
.level-2, .level-3, .error {
  color: #d34d17;
}

/* line 144, ../../src/scss/screen.scss */
.level-3 {
  font-weight: bold;
}

/* line 147, ../../src/scss/screen.scss */
.component {
  font-size: 12px;
}

/* Tooltip CAN/SHOULD BE REMOVED AFTER JQUERY UI 1.9 PROBABLY
----------------------------------*/
/* line 153, ../../src/scss/screen.scss */
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  font-size: 14px;
  max-width: 50%;
  -o-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}

/* Fades and background-images don't work well together in IE6, drop the image */
/* line 166, ../../src/scss/screen.scss */
* html .ui-tooltip {
  background-image: none;
}

/* line 169, ../../src/scss/screen.scss */
body .ui-tooltip {
  border-width: 2px;
}

/* line 172, ../../src/scss/screen.scss */
.custom-button {
  height: 18px;
  width: 19px;
  border: none;
  background: none;
}

/* line 178, ../../src/scss/screen.scss */
.ui-widget {
  /*font-size: 90%;*/
}

/* line 181, ../../src/scss/screen.scss */
.custom-button .ui-icon {
  margin: 1px;
}

/* line 184, ../../src/scss/screen.scss */
article.page {
  display: none;
}

/***************************
 ****      LAYOUT       ****
 ***************************/
/* line 191, ../../src/scss/screen.scss */
body {
  background: #dddddd url(images/tex2res2.png) repeat;
  /*overflow: hidden;*/
}

/* line 196, ../../src/scss/screen.scss */
#overlay {
  display: none;
  background-color: #5c5c5c;
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

/* line 205, ../../src/scss/screen.scss */
header.ui-widget-header {
  position: absolute;
  z-index: 30;
  top: 0px;
  height: 80px;
  width: 100%;
  border-left: none;
  border-right: none;
}

/* line 214, ../../src/scss/screen.scss */
#logo {
  position: absolute;
  top: 14px;
  left: 20px;
}
/* line 218, ../../src/scss/screen.scss */
#logo img {
  height: 40px;
}
/* line 220, ../../src/scss/screen.scss */
#logo #component {
  position: relative;
  display: inline-block;
  bottom: 0px;
  font-size: 0.6em;
}

/* line 226, ../../src/scss/screen.scss */
.ui-widget-header nav {
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 1em;
  padding: 0.2em;
  zoom: 1;
}
/* line 233, ../../src/scss/screen.scss */
.ui-widget-header nav ul {
  margin: 0;
  padding: 0.2em 0.2em 0;
}
/* line 236, ../../src/scss/screen.scss */
.ui-widget-header nav ul li {
  background: none;
  float: left;
  list-style: none;
  margin: 0 0.2em 1px 0;
  padding: 0;
  position: relative;
  top: 1px;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-color: #817865;
  border-bottom: none;
}
/* line 249, ../../src/scss/screen.scss */
.ui-widget-header nav ul li a {
  cursor: pointer;
  float: left;
  color: #fece2f;
  padding: 0.5em 1em;
  text-decoration: none;
}
/* line 255, ../../src/scss/screen.scss */
.ui-widget-header nav ul li a:link, .ui-widget-header nav ul li a:visited {
  cursor: pointer;
  float: left;
  padding: 0.5em 1em;
  text-decoration: none;
}
/* line 260, ../../src/scss/screen.scss */
.ui-widget-header nav ul li:hover:not(.nav-state-active) {
  border-color: #fff9e5;
}
/* line 262, ../../src/scss/screen.scss */
.ui-widget-header nav ul li.nav-state-active a {
  border-color: #817865;
  color: #fff9e5;
}

/* line 267, ../../src/scss/screen.scss */
header #status {
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -10px;
}
/* line 272, ../../src/scss/screen.scss */
header #status .ui-icon {
  zoom: 125%;
  float: left;
}
/* line 275, ../../src/scss/screen.scss */
header #survey-info {
  color: #494437;
  margin-top: 5px;
  font-weight: 200;
  font-size: 0.6em;
  text-align: center;
  letter-spacing: .4em;
}

/* line 283, ../../src/scss/screen.scss */
.tabs-nohdr {
  padding: 0;
  background-image: none;
  border-width: 0;
  z-index: 5;
}
/* line 288, ../../src/scss/screen.scss */
.tabs-nohdr .ui-tabs-nav {
  padding-left: 0;
  background: #dddddd url(images/tex2res2.png) repeat;
  margin-bottom: -1px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 295, ../../src/scss/screen.scss */
.tabs-nohdr .ui-tabs-nav .ui-state-default {
  background: none;
  border: solid 1px #dddddd;
}
/* line 298, ../../src/scss/screen.scss */
.tabs-nohdr .ui-tabs-nav .ui-state-hover {
  background: none;
  border: solid 1px #494437;
}
/* line 301, ../../src/scss/screen.scss */
.tabs-nohdr .ui-tabs-nav .ui-state-active {
  background: #feeebd none;
  border: solid 1px #817865;
  border-bottom-color: #feeebd;
}
/* line 305, ../../src/scss/screen.scss */
.tabs-nohdr .ui-tabs-panel {
  border-width: 1px 1px 1px 1px;
}

/* line 311, ../../src/scss/screen.scss */
.drawer {
  border: 1px solid #D6E9C6;
  color: #468847;
  background-color: #DFF0D8;
  position: fixed;
  z-index: 15;
  border-radius: 0 4px 4px 0;
  border-color: #aaaaaa;
  -moz-transition: margin 0.8s ease-out;
  -webkit-transition: margin 0.8s ease-out;
  transition: margin 0.8s ease-out;
  font-size: 16px;
}
/* line 321, ../../src/scss/screen.scss */
.drawer.left {
  bottom: 20%;
  left: 0;
  width: 300px;
  height: 80px;
}
/* line 326, ../../src/scss/screen.scss */
.drawer.hide {
  margin-left: -280px;
}
/* line 328, ../../src/scss/screen.scss */
.drawer .content {
  padding: 20px;
}
/* line 330, ../../src/scss/screen.scss */
.drawer .handle {
  z-index: 101;
  width: 18px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  /*background-color: #999999*/
}
/* line 336, ../../src/scss/screen.scss */
.drawer .handle.hasrecords {
  /*background-color: #B94A48*/
}
/* line 338, ../../src/scss/screen.scss */
.drawer .handle.right {
  float: right;
  border-left: 3px ridge #ccc;
  /*border-right: 1px dotted #aaa;*/
}
/* line 342, ../../src/scss/screen.scss */
.drawer #status {
  display: inline-block;
  /*padding-bottom: 10px;
  height: 1em;*/
}
/* line 346, ../../src/scss/screen.scss */
.drawer #status.offline {
  color: red;
}
/* line 348, ../../src/scss/screen.scss */
.drawer #status.waiting {
  color: orange;
}
/* line 352, ../../src/scss/screen.scss */
.drawer #status-offline-launch {
  display: block;
}
/* line 355, ../../src/scss/screen.scss */
.drawer button#drawer-export {
  display: block;
}

/* line 359, ../../src/scss/screen.scss */
#branding {
  position: fixed;
  z-index: 0;
  width: 120px;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  text-align: center;
  line-height: 1.3em;
  color: #666;
  font-size: 1.1em;
}
/* line 370, ../../src/scss/screen.scss */
#branding a:link, #branding a:hover, #branding a:visited {
  text-decoration: none;
  color: #666;
}
/* line 373, ../../src/scss/screen.scss */
#branding a:hover {
  color: #444;
}

/* line 376, ../../src/scss/screen.scss */
#bottom-bar {
  background-color: #444;
  /*#2B2C30; */
  position: absolute;
  z-index: 1;
  text-align: center;
  border-left: none;
  border-right: none;
  background-image: none;
  bottom: 0px;
  width: 100%;
  padding: 10px 0;
}
/* line 387, ../../src/scss/screen.scss */
#bottom-bar #queue {
  color: #BCBEC0;
  display: block;
  text-align: left;
  width: 160px;
  text-decoration: none;
  margin: 0 0 -35px 10px;
}
/* line 394, ../../src/scss/screen.scss */
#bottom-bar #queue #queue-length {
  font-size: 36px;
  display: block;
  padding: 0 8px 0 0;
  float: left;
}

/* line 400, ../../src/scss/screen.scss */
#form-controls.ui-widget-header {
  position: absolute;
  z-index: 1;
  text-align: center;
  border-left: none;
  border-right: none;
  background-image: none;
}
/* line 407, ../../src/scss/screen.scss */
#form-controls.ui-widget-header.right {
  bottom: 35%;
  right: 3%;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 8px;
  /* consistent with theme? */
}
/* line 415, ../../src/scss/screen.scss */
#form-controls.ui-widget-header.bottom, #form-controls.ui-widget-header.mobile {
  bottom: 0px;
  width: 100%;
  padding: 10px 0;
}
/* line 420, ../../src/scss/screen.scss */
#form-controls.ui-widget-header.right button {
  display: block;
}

/* line 423, ../../src/scss/screen.scss */
#container {
  position: absolute;
  top: 80px;
  width: 100%;
  overflow: auto;
}

/* line 429, ../../src/scss/screen.scss */
.main {
  padding: 20px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  /*z-index: 0;*/
  /*top: 80px;*/
  display: block;
  /* align for good browsers */
  text-align: left;
  /* counter the body center */
}

/* line 443, ../../src/scss/screen.scss */
article.main .jr {
  padding: 1.5em;
  min-height: 300px;
}

/* line 447, ../../src/scss/screen.scss */
.main {
  max-width: 720px;
}
/* line 448, ../../src/scss/screen.scss */
.main article {
  padding: 1.5em;
  min-height: 300px;
}
/* line 452, ../../src/scss/screen.scss */
.main#wrap-collation, .main#wrap-charts {
  max-width: 95%;
}
/* line 454, ../../src/scss/screen.scss */
.main ul, .main ol {
  /*list-style: disc;*/
  margin-left: 30px;
  margin-bottom: 25px;
}
/* line 458, ../../src/scss/screen.scss */
.main ul li, .main ol li {
  margin: 10px 0;
}
/* line 460, ../../src/scss/screen.scss */
.main ul li span.ui-icon, .main ol li span.ui-icon {
  float: left;
  margin-left: -25px;
}
/* line 463, ../../src/scss/screen.scss */
.main textarea.source {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: 100%;
  height: 500px;
  font-size: .8em;
  padding: 5px;
}
/* line 472, ../../src/scss/screen.scss */
.main label#data-template-show {
  font-size: .8em;
  float: right;
  margin: -15px 0 5px 0;
}
/* line 476, ../../src/scss/screen.scss */
.main label#data-template-show input {
  float: left;
  margin-right: 8px;
}
/* line 479, ../../src/scss/screen.scss */
.main .ui-tabs-nav li.ui-state-active {
  /*background: blue;*/
}
/* line 481, ../../src/scss/screen.scss */
.main .ui-widget-header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px 3px 30px 3px;
}

/*#dialog-save{
  #dialog-save-msg{
    display: block;}
  input[type="text"]{
    display: block;
    width: 100%;}  
}*/
/* line 494, ../../src/scss/screen.scss */
.dialog {
  display: none;
  line-height: 1.5em;
}
/* line 497, ../../src/scss/screen.scss */
.dialog .dialog-msg {
  display: block;
  margin-bottom: 5px;
}
/* line 500, ../../src/scss/screen.scss */
.dialog .dialog-error.ui-state-error {
  display: block;
  margin-bottom: 15px;
}
/* line 503, ../../src/scss/screen.scss */
.dialog input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
/* line 507, ../../src/scss/screen.scss */
.dialog input[type=checkbox] {
  width: 1em;
  float: left;
}
/* line 510, ../../src/scss/screen.scss */
.dialog input[type=checkbox] + span {
  display: block;
}
/* line 513, ../../src/scss/screen.scss */
.dialog input[type=checkbox]:disabled + span {
  opacity: 0.5;
}
/* line 515, ../../src/scss/screen.scss */
.dialog label {
  display: block;
}
/* line 517, ../../src/scss/screen.scss */
.dialog a.advanced {
  font-size: 11px;
  display: block;
  text-align: center;
  margin: 10px 0 10px 0;
}
/* line 522, ../../src/scss/screen.scss */
.dialog fieldset.advanced {
  display: none;
}
/* line 524, ../../src/scss/screen.scss */
.dialog .hint {
  display: inline-block;
}
/* line 526, ../../src/scss/screen.scss */
.dialog .launch-link {
  margin: 25px 0 0 0;
  text-align: center;
  display: block;
  font-weight: bold;
  color: #5c5c5c;
  font-size: 1.2em;
}
/* line 533, ../../src/scss/screen.scss */
.dialog .launch-link:hover {
  color: #494437;
}

/* line 536, ../../src/scss/screen.scss */
footer.ui-widget {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 10px;
  color: #5c5c5c;
}
/* line 540, ../../src/scss/screen.scss */
footer.ui-widget a {
  text-decoration: none;
  color: #5c5c5c;
}

/***************************
 ** FEEDBACK BAR & PAGE **
 ***************************/
/* line 549, ../../src/scss/screen.scss */
#feedback-bar {
  position: fixed;
  z-index: 13;
  top: -35px;
  /* invisible initially (header top: 80 - #feedback height - #feedback paddingx2)*/
  width: 100%;
  min-height: 35px;
  /* small screens might need multiline feedback */
  height: auto;
  border-left: none;
  border-right: none;
}
/* line 560, ../../src/scss/screen.scss */
#feedback-bar p {
  position: relative;
  margin: 0 50px;
  text-align: center;
  padding: .6em 0;
  font-size: 0.9em;
  border-top: 1px #ddd dashed;
}
/* line 567, ../../src/scss/screen.scss */
#feedback-bar p:first-child {
  border-top: none;
}
/* line 569, ../../src/scss/screen.scss */
#feedback-bar p .ui-icon {
  display: inline-block;
}
/* line 571, ../../src/scss/screen.scss */
#feedback-bar .ui-icon.ui-icon-info {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -8px;
}

/* line 577, ../../src/scss/screen.scss */
#feedback-bar-close {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -8px;
}

/* line 583, ../../src/scss/screen.scss */
#page.ui-widget-header {
  position: absolute;
  z-index: 12;
  top: -320px;
  /* invisible initially (header top: 80 - #page height: 340 - #page paddingx2)*/
  min-height: 250px;
  width: 100%;
  background-image: none;
  /*opacity: 0.8;*/
  /* causes problem in opera with input form elements */
  border-left: none;
  border-right: none;
}

/* line 596, ../../src/scss/screen.scss */
.ui-widget-header #page-content {
  margin: 2em;
  padding: 3em;
  border: solid 1px #fff9e5;
  font-weight: normal;
  color: #fff9e5;
  background-color: #5c5c5c;
  -webkit-box-shadow: inset 0 0 8px #817865;
  -moz-box-shadow: inset 0 0 5px #817865;
  -o-box-shadow: inset 0 0 5px #817865;
  box-shadow: inner 0 0 5px #817865;
}
/* line 608, ../../src/scss/screen.scss */
.ui-widget-header #page-content p:first-child {
  margin-top: 0;
}
/* line 610, ../../src/scss/screen.scss */
.ui-widget-header #page-content p:last-child {
  margin-bottom: 0;
}

/* line 614, ../../src/scss/screen.scss */
#page a {
  color: #fece2f;
  text-decoration: none;
}
/* line 617, ../../src/scss/screen.scss */
#page a:link {
  color: #fece2f;
}
/* line 619, ../../src/scss/screen.scss */
#page a:hover, #page a:focus {
  text-decoration: underline;
  color: #fff9e5;
}
/* line 622, ../../src/scss/screen.scss */
#page a:active {
  color: white;
  text-decoration: none;
}
/* line 625, ../../src/scss/screen.scss */
#page .ui-icon {
  float: left;
  margin-right: 10px;
}

/* line 629, ../../src/scss/screen.scss */
#page-close {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* line 634, ../../src/scss/screen.scss */
#page .column {
  width: 50%;
  float: left;
  height: 100%;
}

/* line 640, ../../src/scss/screen.scss */
#settings h3 {
  text-align: left;
}
/* line 642, ../../src/scss/screen.scss */
#settings input {
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 0;
}
/* line 647, ../../src/scss/screen.scss */
#settings label {
  display: block;
  margin-bottom: 5px;
}
/* line 650, ../../src/scss/screen.scss */
#settings ul {
  margin-left: 0;
  list-style: none;
}

/* line 654, ../../src/scss/screen.scss */
#records-saved {
  width: 45%;
  float: left;
  /*display: inline;*/
  /* doesn't make sense right? with float*/
}
/* line 659, ../../src/scss/screen.scss */
#records-saved h3 {
  /*margin-left: 30px;*/
}
/* line 661, ../../src/scss/screen.scss */
#records-saved .scroll-list {
  border-color: white;
  min-height: 150px;
  max-height: 300px;
  overflow: auto;
}

/* line 669, ../../src/scss/screen.scss */
#form-list ol {
  margin: 0px;
}
/* line 671, ../../src/scss/screen.scss */
#form-list ol li {
  display: block;
  text-align: center;
}
/* line 674, ../../src/scss/screen.scss */
#form-list ol li a {
  font-size: 12px;
  width: 100%;
}

/* line 678, ../../src/scss/screen.scss */
.scroll-list {
  position: relative;
  border: 1px solid;
  /* white;*/
  /*width: 100%;
  height: 100%; */
  margin: 0;
  padding: 15px;
  /*height: 300px;*/
}
/* line 686, ../../src/scss/screen.scss */
.scroll-list > div {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 690, ../../src/scss/screen.scss */
.scroll-list > div ol {
  position: relative;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 698, ../../src/scss/screen.scss */
.scroll-list > div ol li {
  list-style: none;
  margin: 3px;
  padding: 0.5em;
  line-height: 1.3em;
  height: 1em;
  font-size: 0.8em;
  overflow: hidden;
  /* for very long names */
}
/* line 707, ../../src/scss/screen.scss */
.scroll-list > div ol li .date {
  font-size: .6em;
  float: right;
}
/* line 711, ../../src/scss/screen.scss */
.scroll-list > div ol li.no-click {
  font-style: italic;
  text-align: center;
  margin: 40px;
}

/* line 716, ../../src/scss/screen.scss */
#records-summary {
  margin: 0;
  margin-top: 5px;
  /*padding: 0 15px;
  width: 100%*/
  font-size: 0.6em;
  text-align: center;
}
/* line 723, ../../src/scss/screen.scss */
#records-summary .ui-icon {
  display: inline-block;
  float: none;
}
/* line 726, ../../src/scss/screen.scss */
#records-summary .ui-icon-pencil {
  margin-left: 3em;
}

/* line 730, ../../src/scss/screen.scss */
#records .column.middle {
  width: 10%;
  height: 100%;
}
/* line 733, ../../src/scss/screen.scss */
#records .column.right {
  /*right column of records page*/
  width: 45%;
  float: right;
  text-align: center;
  margin-top: 30px;
  margin-right: -10px;
  /*visual correction due to absence of border, stricly speaking not correct*/
}
/* line 741, ../../src/scss/screen.scss */
#records .column .ui-icon {
  display: inline-block;
  float: none;
}

/* line 745, ../../src/scss/screen.scss */
#records-buttons {
  /*width: auto;*/
  margin: 20% auto 5% auto;
}
/* line 748, ../../src/scss/screen.scss */
#records-buttons button {
  /*float: left;*/
}

/* line 751, ../../src/scss/screen.scss */
#records-force-upload-info, #records-export-info {
  display: none;
  font-size: .8em;
  margin: 0 2em;
  line-height: 1.5em;
}

/* line 757, ../../src/scss/screen.scss */
#slider-wrap {
  /*float:left;*/
  width: 25px;
  border: 1px solid;
  margin: 0 auto;
}

/* line 763, ../../src/scss/screen.scss */
#slider-vertical {
  position: relative;
  height: 100%;
  background: none;
}

/* line 768, ../../src/scss/screen.scss */
.ui-slider-vertical {
  width: 100%;
  border: none;
}
/* line 771, ../../src/scss/screen.scss */
.ui-slider-vertical .ui-slider-range {
  background: none;
  position: absolute;
  width: 100%;
}
/* line 775, ../../src/scss/screen.scss */
.ui-slider-vertical .ui-slider-handle {
  /*left: 1px; */
  left: 0px;
  margin-left: 0;
  margin-right: 0;
  background-image: none;
  height: 10px;
  /*margin:0 auto;*/
  display: block;
  position: absolute;
}

/* line 786, ../../src/scss/screen.scss */
.ui-slider .ui-slider-handle {
  width: 23px;
}

/* line 789, ../../src/scss/screen.scss */
.ui-slider-handle .ui-state-default {
  background-image: none;
}

	                                                                                           /*
	.scroll-bar {height: 400px;}
	.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 1px 1px 50%; height: 400px; width: 2em;}
	.scroll-bar-wrap .ui-slider { background: none; border:0; width: 2em; /*margin: 0 auto;  }
	.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; /*margin: 0 auto; }
	.scroll-bar-wrap .ui-slider-handle { top:.2em; width: 1.5em; }
	.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
*/
/* these transitions should match */
/* line 803, ../../src/scss/screen.scss */
#feedback-bar, #main, #page {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/**************************
****    SURVEY FORM    ****
**************************/
/* line 813, ../../src/scss/screen.scss */
.jr [lang]:not(.active), .jr-hint {
  display: none;
}

/* line 817, ../../src/scss/screen.scss */
.jr-constraint-msg.active {
  display: block;
  visibility: hidden;
  min-height: 1em;
}
/* line 821, ../../src/scss/screen.scss */
.jr-constraint-msg:not(.active) {
  display: none;
}

/* line 824, ../../src/scss/screen.scss */
.invalid .jr-constraint-msg.active {
  visibility: visible;
  font-weight: bold;
  font-style: italic;
}

/* line 829, ../../src/scss/screen.scss */
.jr-option-translations {
  display: none;
}

/* line 832, ../../src/scss/screen.scss */
.jr h2.ui-widget-header {
  margin: 0;
}
/* line 834, ../../src/scss/screen.scss */
.jr h2.ui-widget-header span {
  display: block;
  color: #494437;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
}

/* line 841, ../../src/scss/screen.scss */
.question-icons {
  float: right;
  margin: -5px -10px 0 0;
  /*line-height: 15px;*/
}
/* line 845, ../../src/scss/screen.scss */
.question-icons span {
  display: inline-block;
  text-align: right;
  width: 18px;
}

/* line 850, ../../src/scss/screen.scss */
#form-languages {
  margin-top: -18px;
  margin-bottom: 18px;
  margin-right: 10px;
  font-size: 0.8em;
}

/* correction for when tabs are present */
/* line 858, ../../src/scss/screen.scss */
.ui-tabs-panel #form-languages {
  margin-top: -35px;
  margin-bottom: 45px;
  margin-right: -15px;
}

/* line 864, ../../src/scss/screen.scss */
#form-languages a:link {
  float: right;
  padding-left: 10px;
  border: none;
  background: none;
  font-weight: normal;
  font-size: .8em;
  color: #5c5c5c;
}
/* line 872, ../../src/scss/screen.scss */
#form-languages a:not(.active):hover {
  color: #381f00;
  text-decoration: underline;
}
/* line 875, ../../src/scss/screen.scss */
#form-languages a.active {
  color: #381f00;
  text-decoration: none;
}

/* line 879, ../../src/scss/screen.scss */
.form-wrapper {
  /* from http://www.sitepoint.com/pure-css3-paper-curl/ by Craig Buckler */
  position: relative;
  /*width: 500px;*/
  /*z-index: 10;*/
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  margin: 0 0 40px 0;
  padding: 0;
}
/* line 37, ../../src/scss/screen.scss */
.form-wrapper:before, .form-wrapper:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
/* line 54, ../../src/scss/screen.scss */
.form-wrapper:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}
/* line 883, ../../src/scss/screen.scss */
.form-wrapper #submit-form, .form-wrapper #submit-edited-data {
  left: 50%;
  margin: 10px 0 45px -56px;
}

/* line 887, ../../src/scss/screen.scss */
.jr {
  line-height: 1.1em;
}
/* line 889, ../../src/scss/screen.scss */
.jr .form-logo img {
  position: relative;
  left: 50%;
  max-height: 200px;
  width: 120px;
  margin-left: -60px;
  margin-bottom: 10px;
}
/* line 896, ../../src/scss/screen.scss */
.jr h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: solid 3px #ccc;
}
/* line 902, ../../src/scss/screen.scss */
.jr h3 {
  text-align: left;
}
/* line 904, ../../src/scss/screen.scss */
.jr label, .jr fieldset {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 16px 14px;
  /* */
  font-weight: bold;
}
/* line 913, ../../src/scss/screen.scss */
.jr label + label {
  /*border-top: 1px solid $shadow;*/
}
/* line 915, ../../src/scss/screen.scss */
.jr .geopoint {
  height: 350px;
}
/* line 917, ../../src/scss/screen.scss */
.jr .geopoint .map-canvas {
  width: 340px;
  height: 275px;
  margin-top: 10px;
  float: right;
  border: 1px solid #cccccc;
}
/* line 923, ../../src/scss/screen.scss */
.jr .geopoint label {
  border: none;
  padding: 5px 0;
}
/* line 926, ../../src/scss/screen.scss */
.jr .geopoint button {
  width: 130px;
  margin-top: 10px;
}
/* line 930, ../../src/scss/screen.scss */
.jr fieldset:not(#jr-preload-items):not(.jr-group) + label, .jr fieldset:not(#jr-preload-items):not(.jr-group) + fieldset:not(.jr-group) {
  /*border-top: 1px solid $shadow;*/
}
/* line 932, ../../src/scss/screen.scss */
.jr label + fieldset:not(.jr-group) {
  /*border-top: 1px solid $shadow;*/
}
/* line 934, ../../src/scss/screen.scss */
.jr span.repeat-number {
  height: 2em;
  display: block;
  float: right;
  margin-right: -8px;
  margin-top: -8px;
  color: #cccccc;
}
/* line 941, ../../src/scss/screen.scss */
.jr legend {
  position: absolute;
  top: 1.5em;
  font-weight: bold;
}
/* line 945, ../../src/scss/screen.scss */
.jr legend ~ label {
  border-top: none;
  padding: .5em 0 .5em 0;
  margin-left: 25px;
  font-weight: normal;
}
/* line 950, ../../src/scss/screen.scss */
.jr legend + label {
  margin-top: 25px;
}
/* line 952, ../../src/scss/screen.scss */
.jr fieldset {
  position: relative;
}
/* line 954, ../../src/scss/screen.scss */
.jr fieldset.jr-group {
  border-top: 2px solid #bbbbbb;
  /**/
  margin: .5em 0;
}
/* line 957, ../../src/scss/screen.scss */
.jr fieldset.jr-repeat {
  border: 1px dotted #cccccc;
}
/* line 959, ../../src/scss/screen.scss */
.jr label, .jr legend, .jr .trigger {
  font-size: .8em;
}
/* line 961, ../../src/scss/screen.scss */
.jr input, .jr textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  margin: 8px 0 0 0;
  font-size: .9em;
}
/* line 969, ../../src/scss/screen.scss */
.jr input[type="text"], .jr textarea[type="text"] {
  width: 100%;
}
/* line 971, ../../src/scss/screen.scss */
.jr input[type=date], .jr input[type=number], .jr input[type=email], .jr input[type=password], .jr textarea[type=date], .jr textarea[type=number], .jr textarea[type=email], .jr textarea[type=password] {
  width: 130px;
  text-align: right;
}
/* line 974, ../../src/scss/screen.scss */
.jr input[type=radio], .jr input[type=checkbox], .jr textarea[type=radio], .jr textarea[type=checkbox] {
  display: block;
  /*****/
  float: left;
  /*****/
  margin-top: 5px;
  /****/
  /*compensates for the label margin, fixes multi-line labels */
  margin-left: -25px;
}
/* line 983, ../../src/scss/screen.scss */
.jr textarea {
  width: 100%;
  min-height: 5em;
}
/* line 986, ../../src/scss/screen.scss */
.jr select {
  display: block;
}
/* line 989, ../../src/scss/screen.scss */
.jr fieldset .ui-button {
  width: 27px;
  height: 27px;
  margin-top: 6px;
}
/* line 993, ../../src/scss/screen.scss */
.jr fieldset .one-more {
  margin: 0 -34px -5px 10px;
}
/* line 995, ../../src/scss/screen.scss */
.jr fieldset .remove {
  float: right;
  margin-right: 0;
}
/* line 998, ../../src/scss/screen.scss */
.jr .trigger {
  border: 1px solid #FBEED5;
  color: #C09853;
  background-color: #FCF8E3;
  padding: 7px 12px;
  margin: 1em 0;
}
/* line 1002, ../../src/scss/screen.scss */
.jr .required {
  margin-left: 3px;
  color: #ce4f07;
}
/* line 1005, ../../src/scss/screen.scss */
.jr .jr-appearance-page-break {
  display: none;
}

/* line 1009, ../../src/scss/screen.scss */
label.with-media {
  margin-top: 5px;
}

/* line 1012, ../../src/scss/screen.scss */
.with-media > span.active {
  display: block;
  width: 100%;
}

/* line 1017, ../../src/scss/screen.scss */
label.with-media img, label.with-media video, label.with-media audio {
  max-width: 45%;
  padding-right: 5%;
  display: block;
  float: right;
}

/* line 1023, ../../src/scss/screen.scss */
.with-media input {
  float: left;
  width: 5%;
  margin-top: -17px;
}

/* line 1029, ../../src/scss/screen.scss */
input, .fakefileinput, textarea {
  background-color: white;
  border: 2px solid #cccccc;
  min-height: 30px;
}

/* line 1034, ../../src/scss/screen.scss */
.jr-appearance-compact label {
  display: inline;
}
/* line 1036, ../../src/scss/screen.scss */
.jr-appearance-compact label span {
  display: none;
}
/* line 1038, ../../src/scss/screen.scss */
.jr-appearance-compact label img {
  float: left;
  width: 120px;
  height: 120px;
  padding: 5px;
  margin-top: 25px;
}
/* line 1045, ../../src/scss/screen.scss */
.jr-appearance-compact label input[type=radio], .jr-appearance-compact label input[type=checkbox] {
  /*display: none;*/
  margin-top: 35px;
}

/* line 1049, ../../src/scss/screen.scss */
.jr-branch {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #cccccc;
  height: 8px;
  text-align: center;
  margin: 10px 0;
  opacity: 0.5;
}

/* line 1058, ../../src/scss/screen.scss */
.disabled {
  /*color: $shadow*/
  opacity: 0.5;
}

/* line 1062, ../../src/scss/screen.scss */
#upload form {
  text-align: center;
}
/* line 1064, ../../src/scss/screen.scss */
#upload form label {
  position: absolute;
  top: 120px;
  left: 5%;
  text-align: center;
  margin-top: 20px;
  padding: 0 5%;
  display: block;
  z-index: 0;
  width: 80%;
}
/* line 1074, ../../src/scss/screen.scss */
#upload form label > span {
  display: block;
}
/* line 1076, ../../src/scss/screen.scss */
#upload form input, #upload form .fakefileinput {
  position: absolute;
  top: 20px;
  left: 0px;
  display: block;
  width: 99%;
  margin: 10px 0 30px 0;
  height: 30px;
  padding: 1px;
  font-size: .9em;
  text-align: center;
}
/* line 1087, ../../src/scss/screen.scss */
#upload form input[type=file] {
  /*height: 0px;
  width: 0px;
  overflow: hidden;*/
  z-index: 5;
  opacity: 0;
}
/* line 1093, ../../src/scss/screen.scss */
#upload form .hurry {
  margin-top: 180px;
}
/* line 1097, ../../src/scss/screen.scss */
#upload form :not(#form-list) a:link {
  padding: 0 10px;
  font-size: 13px;
  background: none;
  border: none;
  text-decoration: none;
  color: #5c5c5c;
}
/* line 1104, ../../src/scss/screen.scss */
#upload form :not(#form-list) a:hover {
  font-weight: normal;
}
/* line 1106, ../../src/scss/screen.scss */
#upload form :not(#form-list) a:not(.active):hover {
  color: #381f00;
  text-decoration: underline;
}
/* line 1109, ../../src/scss/screen.scss */
#upload form :not(#form-list) a.active {
  color: #817865;
  text-decoration: none;
}

/* line 1113, ../../src/scss/screen.scss */
.ui-datepicker {
  margin-left: -270px;
  margin-top: -100px;
  font-size: 80%;
}

/* css for multi-select addon */
/* line 1120, ../../src/scss/screen.scss */
button.ui-multiselect {
  display: block;
}

/* line 1123, ../../src/scss/screen.scss */
.ui-multiselect {
  padding: 2px 0 2px 4px;
  text-align: left;
}
/* line 1126, ../../src/scss/screen.scss */
.ui-multiselect span.ui-icon {
  float: right;
}

/* line 1130, ../../src/scss/screen.scss */
.ui-multiselect-single .ui-multiselect-checkboxes input {
  position: absolute !important;
  top: auto !important;
  left: -9999px;
}
/* line 1134, ../../src/scss/screen.scss */
.ui-multiselect-single .ui-multiselect-checkboxes label {
  padding: 5px !important;
}

/* line 1137, ../../src/scss/screen.scss */
.ui-multiselect-header {
  margin-bottom: 3px;
  padding: 3px 0 3px 4px;
}
/* line 1140, ../../src/scss/screen.scss */
.ui-multiselect-header ul {
  font-size: 0.9em;
}
/* line 1142, ../../src/scss/screen.scss */
.ui-multiselect-header ul li {
  float: left;
  padding: 0 10px 0 0;
}
/* line 1145, ../../src/scss/screen.scss */
.ui-multiselect-header a {
  text-decoration: none;
}
/* line 1147, ../../src/scss/screen.scss */
.ui-multiselect-header a:hover {
  text-decoration: underline;
}
/* line 1149, ../../src/scss/screen.scss */
.ui-multiselect-header span.ui-icon {
  float: left;
}
/* line 1151, ../../src/scss/screen.scss */
.ui-multiselect-header li.ui-multiselect-close {
  float: right;
  text-align: right;
  padding-right: 0;
}

/* line 1156, ../../src/scss/screen.scss */
.ui-multiselect-menu {
  display: none;
  padding: 3px;
  position: absolute;
  z-index: 20;
}

/* line 1162, ../../src/scss/screen.scss */
.ui-multiselect-checkboxes {
  position: relative;
  overflow-y: scroll;
}
/* line 1165, ../../src/scss/screen.scss */
.ui-multiselect-checkboxes label {
  cursor: default;
  display: block;
  border: 1px solid transparent;
  padding: 3px 1px;
}
/* line 1170, ../../src/scss/screen.scss */
.ui-multiselect-checkboxes label input {
  position: relative;
  top: 1px;
}
/* line 1173, ../../src/scss/screen.scss */
.ui-multiselect-checkboxes li {
  clear: both;
  font-size: 0.9em;
  padding-right: 3px;
}
/* line 1177, ../../src/scss/screen.scss */
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid;
}
/* line 1181, ../../src/scss/screen.scss */
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
  display: block;
  padding: 3px;
  margin: 1px 0;
  text-decoration: none;
}

/* remove label borders in IE6 because IE6 does not support transparency */
/* line 1189, ../../src/scss/screen.scss */
* html .ui-multiselect-checkboxes label {
  border: none;
}

/* css for timepicker */
/* line 1195, ../../src/scss/screen.scss */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
/* line 1197, ../../src/scss/screen.scss */
.ui-timepicker-div dl {
  text-align: left;
}
/* line 1199, ../../src/scss/screen.scss */
.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}
/* line 1202, ../../src/scss/screen.scss */
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}
/* line 1204, ../../src/scss/screen.scss */
.ui-timepicker-div td {
  font-size: 90%;
}

/* line 1207, ../../src/scss/screen.scss */
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
