@import url(../libraries/jdewit-bootstrap-timepicker/compiled/timepicker.css);
@import url(../libraries/eternicode-bootstrap-datepicker/css/datepicker.css);
/*@import "compass/reset";*/
@font-face {
  font-family: 'Open Sans';
  src: local("☺"), url(fonts/OpenSans-Regular.ttf) format("truetype");
}

/******* COLORS **********/
/*dark yellow*/
/*very light yellow*/
/*brown*/
/*dark brown*/
/*white*/
/*yellow*/
/*lighter brown but similar to header-brdr*/
/*red*/
/*darker gray */
/*light gray*/
/*very dark brown*/
/******* new ********/
/*$inverse: #999999;*/
/** BOOTSTRAP PLUGINS **/
/************************/
/* line 37, ../../src/scss/screen.scss */
.paper {
  /* from http://www.sitepoint.com/pure-css3-paper-curl/ by Craig Buckler */
  position: relative;
  /*width: 500px;*/
  /*z-index: 10;*/
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
/* line 48, ../../src/scss/screen.scss */
.paper:before, .paper:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
/* line 65, ../../src/scss/screen.scss */
.paper:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/* Bootstrap color schemes */
/*
@mixin alert{
  border: 1px solid #EED3D7;
  color: #B94A48;
  background-color: #F2DEDE;
}
 
@mixin warning{
  border: 1px solid #FBEED5;
  color: #C09853;
  background-color: #FCF8E3;
}

@mixin information{
  border: 1px solid #BCE8F1;
  color: #3A87AD;
  background-color: #D9EDF7;
}
@mixin success{
  border: 1px solid #D6E9C6;
  color: #468847;
  background-color: #DFF0D8;
}
 */
/***************************
 ****BASIC GUI ELEMENTS ****
 ***************************/
/* line 103, ../../src/scss/screen.scss */
body, textarea {
  background: #dddddd url(images/tex2res2.png) repeat;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

/*
p {
  text-align: left;
  margin-top: .9em;
  margin-bottom: 2em;
  line-height: 1.4em; } 
 */
/* line 116, ../../src/scss/screen.scss */
h2, h3, h4 {
  /*text-align: center;
  font-weight: bolder;
  margin-bottom: 10px;
  padding: 0 5px; */
  color: #ce4f07;
  text-align: center;
}

/* line 124, ../../src/scss/screen.scss */
progress {
  text-align: center;
}

/* line 127, ../../src/scss/screen.scss */
input {
  min-height: 30px;
}

/*
ul {
  list-style: disc;
  margin-left: 20px; }

strong {
  font-weight: bold; }

button.close {
  background: none;
  border: none; }

.center {
  text-align: center; }

div[id^="dialog"] p span.ui-icon {
  float: left;
  margin: .3em .7em 3em 0; }


.capitalize {
  text-transform: capitalize; }

img.loading {
  display: block;
  margin: 15px 0 25px 48%; }

#upload-form img.loading {
  margin-top: 130px; }

.level-0, .level-1, .info, .success {
  color: $overlay-bg; }
 */
/*.level-1, .warning{}*/
/*
.level-2, .level-3, .error {
  color: $error-bg; }

.level-3 {
  font-weight: bold; }

.component {
  font-size: 12px; }
 */
/* Tooltip CAN/SHOULD BE REMOVED AFTER JQUERY UI 1.9 PROBABLY
----------------------------------*/
/*
.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  font-size: 14px;
  max-width: 50%;
  -o-box-shadow: 0 0 5px $shadow;
  -moz-box-shadow: 0 0 5px $shadow;
  -webkit-box-shadow: 0 0 5px $shadow;
  box-shadow: 0 0 5px $shadow; }
 */
/* Fades and background-images don't work well together in IE6, drop the image */
/*
* html .ui-tooltip {
  background-image: none; }

body .ui-tooltip {
  border-width: 2px; }

.custom-button {
  height: 18px;
  width: 19px;
  border: none;
  background: none; }


.custom-button .ui-icon {
  margin: 1px; }

article.page {
  display: none; }
 */
/***************************
 ****      LAYOUT       ****
 ***************************/
/* line 212, ../../src/scss/screen.scss */
body {
  /*overflow: hidden;*/
}

/*
#overlay {
  display: none;
  background-color: $overlay-bg;
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 100%;
  opacity: 0.8; }
 */
/* line 228, ../../src/scss/screen.scss */
.navbar .brand {
  font-size: 32px;
}
/* line 230, ../../src/scss/screen.scss */
.navbar .brand .component {
  font-size: 13px;
}
/* line 232, ../../src/scss/screen.scss */
.navbar nav {
  float: right;
}

/*header {
  position: absolute;
  z-index: 30;
  top: 0px;
  height: 80px;
  width: 100%;
  border-left: none;
  border-right: none;
  backgroun-color: black;
  .logo {
    position: absolute;
    top: 14px;
    left: 20px;
    img {
      height: 40px; }
    .component {
      position: relative;
      display: inline-block;
      bottom: 0px;
      font-size: 0.6em; } }
  nav {
    position: absolute;
    top: 17px;
    right: 20px;
    font-size: 1em;
    padding: 0.2em;
    zoom: 1;
    ul {
      margin: 0;
      padding: 0.2em 0.2em 0;
      li {
        background: none;
        float: left;
        list-style: none;
        margin: 0 0.2em 1px 0;
        padding: 0;
        position: relative;
        top: 1px;
        white-space: nowrap;
        border-width: 1px;
        border-style: solid;
        border-color: $header-bg;
        border-bottom: none;
        a {
          cursor: pointer;
          float: left;
          color: $button-bg;
          padding: 0.5em 1em;
          text-decoration: none;
          &:link, &:visited {
            cursor: pointer;
            float: left;
            padding: 0.5em 1em;
            text-decoration: none; } }
        &:hover:not(.nav-state-active) {
          border-color: $highlight-bg; }
        &.nav-state-active a {
          border-color: $header-bg;
          color: $highlight-bg; } } } } 
  #status {
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -10px;
    .ui-icon {
      zoom: 125%;
      float: left; } }
  #survey-info {
    color: $header-brdr;
    margin-top: 5px;
    font-weight: 200;
    font-size: 0.6em;
    text-align: center;
    letter-spacing: .4em; } } 
 */
/*
.tabs-nohdr {
  padding: 0;
  background-image: none;
  border-width: 0;
  z-index: 5;
  .ui-tabs-nav {
    padding-left: 0;
    background: $bg url(images/tex2res2.png) repeat;
    margin-bottom: -1px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    .ui-state-default{
      background: none;
      border: solid 1px $bg;}
    .ui-state-hover{
      background: none;
      border: solid 1px $header-brdr;}
    .ui-state-active{
      background: $widget-bg none;
      border: solid 1px $header-bg;
      border-bottom-color: $widget-bg;} }
  .ui-tabs-panel {
    border-width: 1px 1px 1px 1px; } }
 */
/* line 339, ../../src/scss/screen.scss */
.drawer {
  /*@include success;*/
  position: fixed;
  z-index: 15;
  border: 1px solid #d6e9c6;
  border-radius: 0 4px 4px 0;
  border-color: #aaaaaa;
  -moz-transition: margin 0.8s ease-out;
  -webkit-transition: margin 0.8s ease-out;
  transition: margin 0.8s ease-out;
  font-size: 16px;
}
/* line 350, ../../src/scss/screen.scss */
.drawer.left {
  bottom: 20%;
  left: 0;
  width: 300px;
  height: 80px;
}
/* line 355, ../../src/scss/screen.scss */
.drawer.closed {
  margin-left: -280px;
}
/* line 357, ../../src/scss/screen.scss */
.drawer .content {
  padding: 20px;
}
/* line 359, ../../src/scss/screen.scss */
.drawer .handle {
  z-index: 101;
  width: 18px;
  height: 100%;
  border-radius: 0 4px 4px 0;
}
/* line 367, ../../src/scss/screen.scss */
.drawer .handle.right {
  float: right;
  border-left: 3px ridge #ccc;
  /*border-right: 1px dotted #aaa;*/
}
/* line 371, ../../src/scss/screen.scss */
.drawer #status {
  display: inline-block;
  /*padding-bottom: 10px;
  height: 1em;*/
}
/* line 375, ../../src/scss/screen.scss */
.drawer #status.offline {
  color: red;
}
/* line 377, ../../src/scss/screen.scss */
.drawer #status.waiting {
  color: orange;
}
/* line 381, ../../src/scss/screen.scss */
.drawer #status-offline-launch {
  display: block;
}
/* line 384, ../../src/scss/screen.scss */
.drawer button#drawer-export {
  display: block;
}

/* line 388, ../../src/scss/screen.scss */
#branding {
  position: fixed;
  z-index: 0;
  width: 120px;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  text-align: center;
  line-height: 1.3em;
  color: #666;
  font-size: 1.1em;
}
/* line 399, ../../src/scss/screen.scss */
#branding a:link, #branding a:hover, #branding a:visited {
  text-decoration: none;
  color: #666;
}
/* line 402, ../../src/scss/screen.scss */
#branding a:hover {
  color: #444;
}

/*
#bottom-bar{
  background-color: #444; 
  position: absolute;
  z-index: 1;
  text-align: center;
  border-left: none;
  border-right: none;
  background-image: none;
  bottom: 0px;
  width: 100%;
  padding: 10px 0; 
  #queue{
    color: #BCBEC0;
    display: block;
    text-align: left;
    width: 160px;
    text-decoration: none;
    margin: 0 0 -35px 10px;
    #queue-length{
      font-size: 36px;
      display: block;
      padding: 0 8px 0 0;
      float: left; }}}
 */
/*
#form-controls.ui-widget-header {
  position: absolute;
  z-index: 1;
  text-align: center;
  border-left: none;
  border-right: none;
  background-image: none;
  &.right {
    bottom: 35%;
    right: 3%;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 8px;
     }
  &.bottom, &.mobile {
    bottom: 0px;
    width: 100%;
    padding: 10px 0; }
  button {}
  &.right button {
    display: block; }}
 */
/*
#container {
  position: absolute;
  top: 80px;
  width: 100%;
  overflow: auto; }*/
/* line 460, ../../src/scss/screen.scss */
.main {
  margin: 100px auto 20px auto;
  position: relative;
  display: block;
  text-align: left;
  max-width: 720px;
}
/* line 466, ../../src/scss/screen.scss */
.main article {
  padding: 30px;
  min-height: 300px;
}
/* line 469, ../../src/scss/screen.scss */
.main ul.nav-tabs {
  margin: 20px 0 0 0;
}
/* line 471, ../../src/scss/screen.scss */
.main ul.nav-tabs li {
  margin: 0;
}
/* line 473, ../../src/scss/screen.scss */
.main ul.nav-tabs li a {
  background: none;
}

/* line 476, ../../src/scss/screen.scss */
textarea.source {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: 100%;
  height: 500px;
  font-size: .8em;
  padding: 5px;
}

/* line 486, ../../src/scss/screen.scss */
label#data-template-show {
  float: right;
}

/* line 490, ../../src/scss/screen.scss */
#upload {
  /*:not(#form-list) a {
    &:link{
    padding: 0 10px;
    font-size: 13px;
    background: none;
    border: none;
    text-decoration: none; 
    color: $overlay-bg;}
    &:hover{
      font-weight: normal;}
    &:not(.active):hover {
      color: $a-hvr;
      text-decoration: underline; }
    &.active {
      color: $header-bg;
      text-decoration: none; } }*/
}
/* line 491, ../../src/scss/screen.scss */
#upload form {
  text-align: center;
  height: 150px;
}
/* line 494, ../../src/scss/screen.scss */
#upload form #input-switcher {
  position: absolute;
  top: 130px;
  left: 331.5px;
  margin-top: 10px;
}
/* line 499, ../../src/scss/screen.scss */
#upload form label {
  position: absolute;
  top: 130px;
  left: 5%;
  text-align: center;
  margin-top: 20px;
  padding: 0 5%;
  display: block;
  z-index: 0;
  width: 80%;
}
/* line 509, ../../src/scss/screen.scss */
#upload form label > span {
  display: block;
}
/* line 511, ../../src/scss/screen.scss */
#upload form .fakefileinput span {
  /*font: 12px sans-serif;
  font-weight: 600;*/
  vertical-align: middle;
  /*opacity: 0.5;*/
}
/* line 516, ../../src/scss/screen.scss */
#upload form input, #upload form .fakefileinput {
  position: absolute;
  top: 20px;
  left: 0px;
  display: block;
  width: 100%%;
  margin: 10px 0 30px 0;
  min-height: 30px;
  text-align: center;
}
/* line 525, ../../src/scss/screen.scss */
#upload form input[type=file] {
  z-index: 5;
  opacity: 0;
}
/* line 528, ../../src/scss/screen.scss */
#upload form .hurry {
  font-size: 13px;
  margin-top: 180px;
}
/* line 531, ../../src/scss/screen.scss */
#upload #form-list {
  margin-top: 20px;
}
/* line 533, ../../src/scss/screen.scss */
#upload #form-list ul {
  margin: 4px;
  list-style-type: none;
}

/*input, .fakefileinput, textarea {
  background-color: $header-txt;
  
   }*/
/* line 559, ../../src/scss/screen.scss */
.hint-new {
  background-color: #cccccc;
  display: inline-block;
  color: #5c5c5c;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

/* line 569, ../../src/scss/screen.scss */
#launch form {
  /*a.advanced{
    font-size: 13px;
    display:block;
    text-align: center;
    margin: 10px 0 10px 0;}*/
  margin-top: 20px;
  /*fieldset.advanced{
    display:none; }*/
}
/* line 576, ../../src/scss/screen.scss */
#launch form input {
  width: 300px;
}

/*
.main {

  
    ul, ol {
      
      margin-left: 30px;
      margin-bottom: 25px; }
    ul li, ol li {
      margin: 10px 0; }
    ul li span.ui-icon, ol li span.ui-icon {
      float: left;
      margin-left: -25px; }
    
    label#data-template-show {
      font-size: .8em;
      float: right;
      margin: -15px 0 5px 0;
      input {
        float: left;
        margin-right: 8px; } }

 .ui-widget-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3px 3px 30px 3px; } }*/
/*
.dialog {
  display: none;
  line-height: 1.5em;
  .dialog-msg{
    display: block;
    margin-bottom: 5px;}
  .dialog-error.ui-state-error{
    display: block;
    margin-bottom: 15px;}
  input{
    width: 100%;
    display:block;
    margin-bottom: 20px;}
  input[type=checkbox]{
    width: 1em;
    float: left;
    &+span{
      display: block;
    }
    &:disabled+span{
      opacity: 0.5; }}
  label{
    display:block;}
  a.advanced{
    font-size: 11px;
    display:block;
    text-align: center;
    margin: 10px 0 10px 0;}
  fieldset.advanced{
    display:none; }
  .hint{
    display: inline-block;}
  .launch-link{
    margin: 25px 0 0 0;
    text-align: center;
    display: block;
    font-weight: bold;
    color: $overlay-bg;
    font-size: 1.2em;
    &:hover{
      color: $header-brdr;}}}

footer.ui-widget {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 10px;
  a {
    text-decoration: none;
    color: $overlay-bg; }
  color: $overlay-bg; }
 */
/***************************
 ** FEEDBACK BAR & PAGE **
 ***************************/
/* line 663, ../../src/scss/screen.scss */
#feedback-bar {
  position: fixed;
  z-index: 13;
  top: -100px;
  margin: 0;
  padding: 0;
  /* invisible initially (header top: 80 - #feedback height - #feedback paddingx2)*/
  width: 100%;
  min-height: 35px;
  /* small screens might need multiline feedback */
  height: auto;
  border-left: none;
  border-right: none;
}
/* line 676, ../../src/scss/screen.scss */
#feedback-bar p {
  position: relative;
  margin: 0 50px;
  text-align: center;
  padding: .6em 0;
  font-size: 0.9em;
  border-top: 1px #ddd dashed;
}
/* line 683, ../../src/scss/screen.scss */
#feedback-bar p:first-child {
  border-top: none;
}
/* line 685, ../../src/scss/screen.scss */
#feedback-bar i, #feedback-bar .close {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
/* line 689, ../../src/scss/screen.scss */
#feedback-bar i {
  left: 20px;
}
/* line 691, ../../src/scss/screen.scss */
#feedback-bar .close {
  right: 20px;
}

/* line 695, ../../src/scss/screen.scss */
#page {
  position: absolute;
  z-index: 12;
  top: -320px;
  /* invisible initially (header top: 80 - #page height: 340 - #page paddingx2)*/
  min-height: 250px;
  width: 100%;
  background-image: url(images/tex2res4.png);
  /*opacity: 0.8;*/
  /* causes problem in opera with input form elements */
  border-left: none;
  border-right: none;
}
/* line 707, ../../src/scss/screen.scss */
#page .content {
  margin: 2em;
  /*a {
    color: $button-bg;
    text-decoration: none;
    &:link{
      color: $button-bg; }
    &:hover, &:focus{
      text-decoration: underline;
      color: $highlight-bg;} 
    &:active {
      color: $header-txt;
      text-decoration: none; } } } 
  /*.ui-icon {
    float: left;
    margin-right: 10px; } }*/
}
/* line 710, ../../src/scss/screen.scss */
#page .content p:first-child {
  margin-top: 0;
}
/* line 712, ../../src/scss/screen.scss */
#page .content p:last-child {
  margin-bottom: 0;
}
/* line 728, ../../src/scss/screen.scss */
#page .close {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 1;
  text-shadow: none;
}
/* line 734, ../../src/scss/screen.scss */
#page .column {
  width: 50%;
  float: left;
  height: 100%;
}

/*
#settings {
  h3 {
    text-align: left; }
  input {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 0; }
  label {
    display: block;
    margin-bottom: 5px; }
  ul {
    margin-left: 0;
    list-style: none; } }

#records-saved {
  width: 45%;
  float: left;

  h3 {
    }
  .scroll-list{
    border-color: white;
    min-height: 150px;
    max-height: 300px; 
    overflow: auto;
  } }

#form-list{
  ol{
    margin: 0px;
    li {
      display: block;
      text-align: center;
      a{
        font-size: 12px;
        width: 100%; } } } }

.scroll-list {
  position: relative;
  border: 1px solid; 

  margin: 0;
  padding: 15px;

  >div {
    position: relative;
    width: 100%;
    height: 100%; 
    ol {
      position: relative;
      top: 0;
      left: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        list-style: none;
        margin: 3px;
        padding: 0.5em;
        line-height: 1.3em;
        height: 1em;
        font-size: 0.8em;
        overflow: hidden;
      
        .date {
          font-size: .6em;
          float: right; }
        .name {}
        &.no-click {
          font-style: italic;
          text-align: center;
          margin: 40px; } } } } }

#records-summary {
  margin: 0;
  margin-top: 5px;

  font-size: 0.6em;
  text-align: center;
  .ui-icon {
    display: inline-block;
    float: none; }
  .ui-icon-pencil {
    margin-left: 3em; } }

#records .column {
  &.middle {
    width: 10%;
    height: 100%; }
  &.right {

    width: 45%;
    float: right;
    text-align: center;
    margin-top: 30px;
    margin-right: -10px;
     }
  .ui-icon {
    display: inline-block;
    float: none; } }

#records-buttons {

  margin: 20% auto 5% auto;
  button {
     } }

#records-force-upload-info, #records-export-info {
  display: none;
  font-size: .8em;
  margin: 0 2em;
  line-height: 1.5em; }

#slider-wrap {

  width: 25px;
  border: 1px solid;
  margin: 0 auto; }

#slider-vertical {
  position: relative;
  height: 100%;
  background: none; }

.ui-slider-vertical {
  width: 100%;
  border: none;
  .ui-slider-range {
    background: none;
    position: absolute;
    width: 100%; }
  .ui-slider-handle {

    left: 0px;
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    height: 10px;
 
    display: block;
    position: absolute; } }

.ui-slider .ui-slider-handle {
  width: 23px; }

.ui-slider-handle .ui-state-default {
  background-image: none; }
*/
	                                                                                           /*
	.scroll-bar {height: 400px;}
	.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 1px 1px 50%; height: 400px; width: 2em;}
	.scroll-bar-wrap .ui-slider { background: none; border:0; width: 2em; /*margin: 0 auto;  }
	.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; /*margin: 0 auto; }
	.scroll-bar-wrap .ui-slider-handle { top:.2em; width: 1.5em; }
	.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
*/
/* these transitions should match */
/* line 900, ../../src/scss/screen.scss */
#feedback-bar, #main, #page {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/**************************
****    SURVEY FORM    ****
**************************/
/* line 910, ../../src/scss/screen.scss */
.jr [lang]:not(.active), .jr-hint {
  display: none;
}

/* line 914, ../../src/scss/screen.scss */
.jr-constraint-msg.active {
  display: block;
  visibility: hidden;
  min-height: 1em;
}
/* line 918, ../../src/scss/screen.scss */
.jr-constraint-msg:not(.active) {
  display: none;
}

/* line 921, ../../src/scss/screen.scss */
.invalid .jr-constraint-msg.active {
  visibility: visible;
  font-weight: bold;
  font-style: italic;
}

/* line 926, ../../src/scss/screen.scss */
.jr-option-translations {
  display: none;
}

/* line 929, ../../src/scss/screen.scss */
.jr h2.ui-widget-header {
  margin: 0;
}
/* line 931, ../../src/scss/screen.scss */
.jr h2.ui-widget-header span {
  display: block;
  color: #494437;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
}

/* line 938, ../../src/scss/screen.scss */
.question-icons {
  float: right;
  margin: -5px -10px 0 0;
  /*line-height: 15px;*/
}
/* line 942, ../../src/scss/screen.scss */
.question-icons span {
  display: inline-block;
  text-align: right;
  width: 18px;
}

/* line 947, ../../src/scss/screen.scss */
#form-languages {
  margin-top: -18px;
  margin-bottom: 18px;
  margin-right: 10px;
  font-size: 0.8em;
}

/* correction for when tabs are present */
                         /*
.ui-tabs-panel #form-languages {
  margin-top: -35px;
  margin-bottom: 45px;
  margin-right: -15px; } /** */
                               /*
*/
/* line 961, ../../src/scss/screen.scss */
#form-languages a:link {
  float: right;
  padding-left: 10px;
  border: none;
  background: none;
  font-weight: normal;
  font-size: .8em;
  color: #5c5c5c;
}
/* line 969, ../../src/scss/screen.scss */
#form-languages a:not(.active):hover {
  color: #381f00;
  text-decoration: underline;
}
/* line 972, ../../src/scss/screen.scss */
#form-languages a.active {
  color: #381f00;
  text-decoration: none;
}

/* line 976, ../../src/scss/screen.scss */
.form-wrapper {
  margin: 0 0 40px 0;
  /*padding: 0;*/
}
/* line 979, ../../src/scss/screen.scss */
.form-wrapper #submit-form, .form-wrapper #submit-edited-data, .form-wrapper #validate-form, .form-wrapper #launch-form {
  display: block;
  margin: 10px auto 45px auto;
}

/* line 983, ../../src/scss/screen.scss */
.jr {
  line-height: 1.1em;
}
/* line 985, ../../src/scss/screen.scss */
.jr .form-logo img {
  position: relative;
  left: 50%;
  max-height: 200px;
  width: 120px;
  margin-left: -60px;
  margin-bottom: 10px;
}
/* line 992, ../../src/scss/screen.scss */
.jr h2 {
  text-align: center;
  /*font-size: 24px;*/
  padding-bottom: 15px;
  border-bottom: solid 3px #ccc;
}
/* line 998, ../../src/scss/screen.scss */
.jr h3 {
  text-align: left;
}
/* line 1000, ../../src/scss/screen.scss */
.jr label, .jr fieldset {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 16px 14px;
  /* */
  font-weight: bold;
}
/* line 1009, ../../src/scss/screen.scss */
.jr label + label {
  /*border-top: 1px solid $shadow;*/
}
/* line 1011, ../../src/scss/screen.scss */
.jr .geopoint {
  height: 350px;
}
/* line 1013, ../../src/scss/screen.scss */
.jr .geopoint .map-canvas {
  width: 340px;
  height: 275px;
  margin-top: 10px;
  float: right;
  border: 1px solid #cccccc;
}
/* line 1019, ../../src/scss/screen.scss */
.jr .geopoint label {
  border: none;
  padding: 5px 0;
}
/* line 1022, ../../src/scss/screen.scss */
.jr .geopoint button {
  width: 130px;
  margin-top: 10px;
}
/* line 1026, ../../src/scss/screen.scss */
.jr fieldset:not(#jr-preload-items):not(.jr-group) + label, .jr fieldset:not(#jr-preload-items):not(.jr-group) + fieldset:not(.jr-group) {
  /*border-top: 1px solid $shadow;*/
}
/* line 1028, ../../src/scss/screen.scss */
.jr label + fieldset:not(.jr-group) {
  /*border-top: 1px solid $shadow;*/
}
/* line 1030, ../../src/scss/screen.scss */
.jr span.repeat-number {
  height: 2em;
  display: block;
  float: right;
  margin-right: -8px;
  margin-top: -8px;
  color: #cccccc;
}
/* line 1037, ../../src/scss/screen.scss */
.jr legend {
  position: absolute;
  top: 1.5em;
  font-weight: bold;
}
/* line 1041, ../../src/scss/screen.scss */
.jr legend ~ label {
  border-top: none;
  padding: .5em 0 .5em 0;
  margin-left: 25px;
  font-weight: normal;
}
/* line 1046, ../../src/scss/screen.scss */
.jr legend + label {
  margin-top: 25px;
}
/* line 1048, ../../src/scss/screen.scss */
.jr fieldset {
  position: relative;
}
/* line 1050, ../../src/scss/screen.scss */
.jr fieldset.jr-group {
  border-top: 2px solid #bbbbbb;
  /**/
  margin: .5em 0;
}
/* line 1053, ../../src/scss/screen.scss */
.jr fieldset.jr-repeat {
  border: 1px dotted #cccccc;
}
/* line 1055, ../../src/scss/screen.scss */
.jr label, .jr legend, .jr .trigger {
  font-size: .8em;
}
/* line 1057, ../../src/scss/screen.scss */
.jr input, .jr textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  /*margin: 8px 0 0 0;
  font-size: .9em;*/
}
/* line 1065, ../../src/scss/screen.scss */
.jr input[type="text"], .jr textarea[type="text"] {
  width: 100%;
}
/* line 1067, ../../src/scss/screen.scss */
.jr input[type=date], .jr input[type=number], .jr input[type=email], .jr input[type=password], .jr textarea[type=date], .jr textarea[type=number], .jr textarea[type=email], .jr textarea[type=password] {
  width: 130px;
  text-align: right;
}
/* line 1070, ../../src/scss/screen.scss */
.jr input[type=radio], .jr input[type=checkbox], .jr textarea[type=radio], .jr textarea[type=checkbox] {
  display: block;
  /*****/
  float: left;
  /*****/
  margin-top: 5px;
  /****/
  /*compensates for the label margin, fixes multi-line labels */
  margin-left: -25px;
}
/* line 1079, ../../src/scss/screen.scss */
.jr textarea {
  width: 100%;
  min-height: 5em;
}
/* line 1082, ../../src/scss/screen.scss */
.jr select {
  display: block;
}
/* line 1085, ../../src/scss/screen.scss */
.jr fieldset .ui-button {
  width: 27px;
  height: 27px;
  margin-top: 6px;
}
/* line 1089, ../../src/scss/screen.scss */
.jr fieldset .one-more {
  margin: 0 -34px -5px 10px;
}
/* line 1091, ../../src/scss/screen.scss */
.jr fieldset .remove {
  float: right;
  margin-right: 0;
}
/* line 1094, ../../src/scss/screen.scss */
.jr .trigger {
  /*@include warning;*/
  padding: 7px 12px;
  margin: 1em 0;
}
/* line 1098, ../../src/scss/screen.scss */
.jr .required {
  margin-left: 3px;
  color: #ce4f07;
}
/* line 1101, ../../src/scss/screen.scss */
.jr .jr-appearance-page-break {
  display: none;
}

/* line 1105, ../../src/scss/screen.scss */
label.with-media {
  margin-top: 5px;
}

/* line 1108, ../../src/scss/screen.scss */
.with-media > span.active {
  display: block;
  width: 100%;
}

/* line 1113, ../../src/scss/screen.scss */
label.with-media img, label.with-media video, label.with-media audio {
  max-width: 45%;
  padding-right: 5%;
  display: block;
  float: right;
}

/* line 1119, ../../src/scss/screen.scss */
.with-media input {
  float: left;
  width: 5%;
  margin-top: -17px;
}

/**/
/* line 1127, ../../src/scss/screen.scss */
.jr-appearance-compact label {
  display: inline;
}
/* line 1129, ../../src/scss/screen.scss */
.jr-appearance-compact label span {
  display: none;
}
/* line 1131, ../../src/scss/screen.scss */
.jr-appearance-compact label img {
  float: left;
  width: 120px;
  height: 120px;
  padding: 5px;
  margin-top: 25px;
}
/* line 1138, ../../src/scss/screen.scss */
.jr-appearance-compact label input[type=radio], .jr-appearance-compact label input[type=checkbox] {
  /*display: none;*/
  margin-top: 35px;
}

/* line 1142, ../../src/scss/screen.scss */
.jr-branch {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #cccccc;
  height: 8px;
  text-align: center;
  margin: 10px 0;
  opacity: 0.5;
}

/* line 1151, ../../src/scss/screen.scss */
.disabled {
  /*color: $shadow*/
  opacity: 0.5;
}

/*
.ui-datepicker {
  margin-left: -270px;
  margin-top: -100px;
  font-size: 80%; }
 */
/* css for multi-select addon */
/*
button.ui-multiselect {
  display: block; }

.ui-multiselect {
  padding: 2px 0 2px 4px;
  text-align: left;
  span.ui-icon {
    float: right; } }

.ui-multiselect-single .ui-multiselect-checkboxes {
  input {
    position: absolute !important;
    top: auto !important;
    left: -9999px; }
  label {
    padding: 5px !important; } }

.ui-multiselect-header {
  margin-bottom: 3px;
  padding: 3px 0 3px 4px;
  ul {
    font-size: 0.9em;
    li {
      float: left;
      padding: 0 10px 0 0; } }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline; } }
  span.ui-icon {
    float: left; }
  li.ui-multiselect-close {
    float: right;
    text-align: right;
    padding-right: 0; } }

.ui-multiselect-menu {
  display: none;
  padding: 3px;
  position: absolute;
  z-index: 20; }

.ui-multiselect-checkboxes {
  position: relative;
  overflow-y: scroll;
  label {
    cursor: default;
    display: block;
    border: 1px solid transparent;
    padding: 3px 1px;
    input {
      position: relative;
      top: 1px; } }
  li {
    clear: both;
    font-size: 0.9em;
    padding-right: 3px;
    &.ui-multiselect-optgroup-label {
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid;
      a {
        display: block;
        padding: 3px;
        margin: 1px 0;
        text-decoration: none; } } } }
/*
/* remove label borders in IE6 because IE6 does not support transparency */
/*
* html .ui-multiselect-checkboxes label {
  border: none; }
 */
/* css for timepicker */
/*
.ui-timepicker-div {
  .ui-widget-header {
    margin-bottom: 8px; }
  dl {
    text-align: left;
    dt {
      height: 25px;
      margin-bottom: -25px; }
    dd {
      margin: 0 10px 10px 65px; } }
  td {
    font-size: 90%; } }

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }
 */
