/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Open Sans';
  src: local("☺"), url(fonts/OpenSans-Regular.ttf) format("truetype");
}

/******* COLORS **********/
/*dark yellow*/
/*very light yellow*/
/*brown*/
/*dark brown*/
/*white*/
/*yellow*/
/*lighter brown but similar to header-brdr*/
/*red*/
/*darker gray */
/*light gray*/
/*very dark brown*/
/***************************
 ****BASIC GUI ELEMENTS ****
 ***************************/
body, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Open Sans", Segoe UI, Arial, sans-serif;
  font-size: 1em;
}

.center {
  text-align: center;
}

div[id^="dialog"] {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

header.ui-widget-header, #feedback-bar, #page {
  display: none;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#form-controls.ui-widget-header {
  display: none;
}

.main {
  max-width: 700px;
}

/**************************
****    SURVEY FORM    ****
**************************/
.jr {
  /*padding: 1.5em;*/
  line-height: 1.1em;
}

.form-logo img {
  position: relative;
  left: 50%;
  max-height: 200px;
  width: 120px;
  margin-left: -60px;
  margin-bottom: 10px;
}

.jr [lang]:not(.active), .jr-hint {
  display: none;
}

.jr-constraint-msg.active {
  display: block;
  visibility: hidden;
  min-height: 1em;
}
.jr-constraint-msg:not(.active) {
  display: none;
}

.invalid .jr-constraint-msg.active {
  visibility: visible;
  font-weight: bold;
  font-style: italic;
}

.jr-option-translations {
  display: none;
}

.jr h2.ui-widget-header {
  margin: 0;
}
.jr h2.ui-widget-header span {
  display: block;
  color: #494437;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
}

.question-icons {
  float: right;
  margin: -5px -10px 0 0;
  /*line-height: 15px;*/
}
.question-icons span {
  display: inline-block;
  text-align: right;
  width: 18px;
}

#form-languages {
  margin-top: -18px;
  margin-bottom: 18px;
  margin-right: 10px;
  font-size: 0.8em;
}

/* correction for when tabs are present */
.ui-tabs-panel #form-languages {
  margin-top: -35px;
  margin-bottom: 45px;
  margin-right: -15px;
}

#form-languages a:link {
  float: right;
  padding-left: 10px;
  border: none;
  background: none;
  font-weight: normal;
  font-size: .8em;
  color: #5c5c5c;
}
#form-languages a:not(.active):hover {
  color: #381f00;
  text-decoration: underline;
}
#form-languages a.active {
  color: #381f00;
  text-decoration: none;
}

.jr {
  line-height: 1.1em;
}
.jr .form-logo img {
  position: relative;
  left: 50%;
  max-height: 200px;
  width: 120px;
  margin-left: -60px;
  margin-bottom: 10px;
}
.jr h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: solid 3px #cccccc;
}
.jr h3 {
  text-align: left;
}
.jr label, .jr fieldset {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 16px 14px;
  /* */
  font-weight: bold;
}
.jr label + label {
  /*border-top: 1px solid $shadow;*/
}
.jr .geopoint {
  height: 350px;
}
.jr .geopoint .map-canvas {
  width: 340px;
  height: 275px;
  margin-top: 10px;
  float: right;
  border: 1px solid #cccccc;
}
.jr .geopoint label {
  border: none;
  padding: 5px 0;
}
.jr .geopoint button {
  width: 130px;
  margin-top: 10px;
}
.jr fieldset:not(#jr-preload-items):not(.jr-group) + label, .jr fieldset:not(#jr-preload-items):not(.jr-group) + fieldset:not(.jr-group) {
  /*border-top: 1px solid $shadow;*/
}
.jr label + fieldset:not(.jr-group) {
  /*border-top: 1px solid $shadow;*/
}
.jr span.repeat-number {
  height: 2em;
  display: block;
  float: right;
  margin-right: -8px;
  margin-top: -8px;
  color: #cccccc;
}
.jr legend {
  position: absolute;
  top: 1.5em;
  font-weight: bold;
}
.jr legend ~ label {
  border-top: none;
  padding: 0.5em 0 0.5em 0;
  margin-left: 25px;
  font-weight: normal;
}
.jr legend + label {
  margin-top: 25px;
}
.jr fieldset {
  position: relative;
}
.jr fieldset.jr-group {
  border-top: 2px solid #555555;
  /**/
  margin: 0.5em 0;
}
.jr fieldset.jr-repeat {
  border: 1px dotted #cccccc;
}
.jr label, .jr legend, .jr .trigger {
  font-size: .8em;
}
.jr input, .jr textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  margin: 8px 0 0 0;
  font-size: .9em;
}
.jr input[type="text"], .jr textarea[type="text"] {
  width: 100%;
}
.jr input[type=date], .jr input[type=number], .jr input[type=email], .jr input[type=password], .jr textarea[type=date], .jr textarea[type=number], .jr textarea[type=email], .jr textarea[type=password] {
  width: 130px;
  text-align: right;
}
.jr input[type=radio], .jr input[type=checkbox], .jr textarea[type=radio], .jr textarea[type=checkbox] {
  display: block;
  /*****/
  float: left;
  /*****/
  margin-top: 5px;
  /****/
  /*compensates for the label margin, fixes multi-line labels */
  margin-left: -25px;
}
.jr textarea {
  width: 100%;
  min-height: 150px;
}
.jr select {
  display: block;
}
.jr fieldset .ui-button {
  width: 27px;
  height: 27px;
  margin-top: 6px;
}
.jr fieldset .one-more {
  margin: 0 -34px -5px 10px;
}
.jr fieldset .remove {
  float: right;
  margin-right: 0;
}
.jr .trigger {
  padding: 7px 12px;
  margin: 1em 0;
}

label.with-media {
  margin-top: 5px;
}

.with-media > span.active {
  display: block;
  width: 100%;
}

label.with-media img, label.with-media video, label.with-media audio {
  max-width: 45%;
  padding-right: 5%;
  display: block;
  float: right;
}

.with-media input {
  float: left;
  width: 5%;
  margin-top: -17px;
}

input, .fakefileinput {
  background-color: white;
  border: 2px solid #cccccc;
  min-height: 30px;
}

.jr-appearance-compact label {
  display: inline;
}
.jr-appearance-compact label span {
  display: none;
}
.jr-appearance-compact label img {
  float: left;
  width: 120px;
  height: 120px;
  padding: 5px;
  margin-top: 25px;
}
.jr-appearance-compact label input[type=radio], .jr-appearance-compact label input[type=checkbox] {
  /*display: none;*/
  margin-top: 35px;
}

.jr-branch {
  display: none;
}

.disabled {
  /*color: $shadow*/
  opacity: 1;
  color: #ddd;
}

/*doesn't do anything
.disabled input[type="checkbox"],
.disabled input[type="radio"]{
  opacity: 1;
}*/
.ui-multiselect-menu {
  display: none;
}

#submit-form, #submit-edited-data, .drawer, #branding {
  display: none;
}

.jr-hint.active {
  /*border: 1px solid #BCE8F1;*/
  /*background-color: #D9EDF7;*/
  color: blue;
  /*#3A87AD;*/
  /*padding: 1px 6px;
  margin: 3px 12px;*/
  display: block;
  font-weight: normal;
  /*float: left;*/
  font-size: 10px;
  font-style: italic;
  /*line-height: 14px;
  &:before {
    content: 'HINT: ';
    font-size: 10px; }*/
}

legend span {
  display: block;
}

.jr-appearance-page-break {
  display: block;
  page-break-before: always;
}

.ui-tabs-nav {
  display: none !important;
}

.jr-branch + fieldset.disabled,
.jr-branch + label.disabled {
  display: block !important;
}
