.form-footer {
    @include flex(1);
    min-height: 190px;
    position: relative;
    width: 100%;
    // the form footer flexes to stretch down on small forms or form pages
    // the content should be positioned at bottom of stretched element
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .draft {
        width: 100%;
         
            @include font-normal;
            font-style: italic;
            text-align: center;
            display: block;
            border: none;
            flex: none;
            padding: 0;
            margin: 0 auto;
            max-width: 150px;
        
    }
    #submit-form, #submit-form-single, #validate-form, #launch-form {
        display: block;
        width: 150px;
        position: static;
        margin: 30px auto 40px auto;
    }
    .logout {
        width: 100%;
        display: block;
        margin-top: -20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .enketo-power {
        left: auto;
        margin: 0;
        width: 100%;
    }
    // still flex the footer but hide all the content
    &.hide {
        min-height: 20px;
        .content {
            display: none;
        }
    }
}
