@mixin font-normal {
    font-family: 'OpenSansRegular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin font-bold {
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin scale-xy($x, $y) {
    -webkit-transform: scale($x, $y);
    -moz-transform: scale($x, $y);
    -ms-transform: scale($x, $y);
    -o-transform: scale($x, $y);
    transform: scale($x, $y);
}
