$slider-width: 240px;

.side-slider {
    position: absolute;
    z-index: 1000;
    @include border-box;
    @include transition-fast;
    color: white;
    font-size: 13px;
    top: 0;
    margin-left: -$slider-width;
    background-color: rgb(50, 50, 50);
    width: $slider-width;
    min-height: 100%;
    padding: 20px;
    .close {
        color: white;
        text-shadow-color: #bbb;
        opacity: 0.9;
    }
    .upload-records, .export-records {
        width: 45%;
    }
    progress {
        visibility: hidden;
        width: 100%;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin-left: 0;
    }
    li.record {
        padding: 2px 5px;
        margin: 5px 0 2px 0;
        border: 1px solid white;
        &.success {
            opacity: 0.6;
            border-width: 2px;
            border-color: green;
        }
        &.ongoing {
            border-width: 2px;
            border-color: orange;
        }
        &.error {
            cursor: pointer;
            border-width: 2px;
            border-color: red;
        }
        &[data-draft=true] {
            cursor: pointer;
            border-color: #999999;
            border-style: dotted;
            color: #eeeeee;
            &:hover, &.active {
                background: #666666;
                color: white;
            }
            &::before {
                font-family: "Glyphicons Halflings";
                content: "\270f";
                float: right;
                display: inline-block;
                color: #aaaaaa;
            }
            &:hover::before {
                color: white;
            }
            &.active::before {
                content: "\e092";
                color: white;
            }
        }
    }
    li.no-records {
        text-align: center;
        margin-bottom: 35px;
        font-style: italic;
    }
    li:not(.record) {
        padding: 0 5px;
        line-height: 15px;
        &.success {
            color: green;
        }
        &.ongoing {
            color: orange;
        }
        &.error {
            color: red;
        }
    }
    h3 {
        color: white;
    }
    .button-bar {
        margin: 20px 0 33px 0;
    }
    .handle {
        font-family: arial, sans-serif;
        position: fixed;
        top: 50%;
        margin: 0;
        padding: 0;
        z-index: 10;
        background: none;
        border: none;
        font-size: 20px;
        line-height: 30px;
        @include scale-xy(0.6, 2);
        &.open {
            color: #888888;
            left: 10px;
            &:hover {
                color: #000000;
                font-weight: bold;
            }
        }
        &.close {
            color: #aaaaaa;
            left: -15px;
            &:hover {
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
}

.show-side-slider {
    .side-slider {
        @include transition-fast;
        margin-left: 0;
        .handle {
            &.open {
                display: none;
            }
            &.close {
                @include transition-fast;
                left: $slider-width - 13px;
            }
        }
        &::before {
            display: block;
            top: 0;
            width: 100%;
            background: black;
            opacity: 0.5;
            z-index: 999;
        }
    }
    .slider-overlay {
        @extend .modal-backdrop;
        @extend .modal-backdrop;
        @extend .modal-backdrop.fade;
        @extend .modal-backdrop.in;
        z-index: 999;
    }
    .main {
        //@include transition-fast;
    }
}
