$groupline: #bbbbbb;
$line: 3px solid $groupline;
$input-height: 34px;
$input-min-width: 0.2 * 720px;
$input-max-width: 80%;

@import "../../public/libraries/enketo-core/src/sass/core/_layout";
@import "../../public/libraries/enketo-core/src/sass/core/_responsive";
@import "../../public/libraries/enketo-core/src/sass/core/_main";
@import "../../public/libraries/enketo-core/src/sass/core/_timepicker";
@import "../../public/libraries/enketo-core/src/sass/core/_datepicker";
@import '../../public/libraries/enketo-core/src/sass/core/_geopoint_widget';
@import '../../public/libraries/enketo-core/src/sass/core/_select_widget';
@import '../../public/libraries/enketo-core/src/sass/core/_select_mobile_widget';
@import '../../public/libraries/enketo-core/src/sass/core/_table_widget';
@import '../../public/libraries/enketo-core/src/sass/core/_grid_widget';
@import '../../public/libraries/enketo-core/src/sass/core/_file_widget';
@import '../../public/libraries/enketo-core/src/sass/formhub/_theme';