@import "bootstrap";
@import "variables";
@import "mixins";

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;}

body{
  @include font-normal;
  background: $body-bg no-repeat;
  //background: $bg url(../images/tex2res2.png) repeat;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  overflow-x: hidden;
  .main article{
    padding: 3em;}
  .form-header{
    position:absolute;
    top: -4.4em;
    border: none; } }

strong {
  @include font-bold; }

h2, h3, h4 {
  @include font-bold;
  color: $accent-color-1;
  text-align: center;}

.preview-header{
	position: absolute;
	top: -90px;
	width:100%;
	z-index:1000;
  color: #333333;
  opacity: 0.5;
  margin: 0;}

progress{
  display: block;
  margin: 10px auto;}

.preview progress{
	margin: 80px auto;
}

.alert{
  .error-list{
    margin-top: 1em;
    font-size: 0.8em;
    li{
      line-height: 1.4em; } }
  strong{
  text-decoration: underline;} }

.alert{
	em{
		color: #666;}
	strong{
		color: black;
		font-size: 110%;
		text-decoration: none;}
	a{
		text-decoration: underline;} }

.overlay{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: black;
  opacity: 0.8;
  display: none;
}

.paper{
	background-color: #fff;
	border-radius: 7px;
	border: 7px solid $content_border;}

.main {
  margin: 100px auto 60px auto;
  position: relative;
  display: block;
  text-align: left; 
  max-width: $content-width;
  article {
    //padding: 50px;
    min-height: 300px; }
  ul.nav-tabs{
      margin: 20px 0 0 0;
      li{
        margin: 0;
        a{
          background: none; } } } }

.formlist{
  ul{
    padding: 0; 
    margin: 0;
    list-style: none;
    li {
      margin: 10px 0;} }
  img{
    display: none; }
  &.empty{
    img{ 
      width: 80%;
      display: block;
      margin: 40% auto; }
    p:not(.alert-error){
      display: none;} } }

.hint{
  display: inline-block;
  margin-left: 5px;}

.logout{
	display: block;
	margin-top: 10px;
	text-align: center;}

.self-destruct-timer{
  float: left;
  margin-top: 5px;
  color: $shadow; }

.tooltip{
  opacity: 1 !important;
  /* fix for tooltips when places inside a label/legend element (All)*/
  font-weight: normal !important;
  /* fix for tooltips when placed inside a legend element (Safari)*/
  line-height: 18px !important;}

//this fixes an inherit bug in bootstrap. It can probably be removed after v2.3.
.popover{
  font-size: $baseFontSize !important;
  color: black !important;
  min-width: 30%; }

.page-break{
  display: none; }

#feedback-bar {
  @include transition-slow;
  @include border-box;
  @include border-radius(0px);
  position: fixed;
  z-index: 13;
  top: -100px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 35px;
  height: auto;
  p {
    position: relative;
    margin: 0 50px;
    text-align: center;
    padding: .6em 0;
    font-size: 1.1em;
    &+p {
      border-top: 1px #ddd dashed; } }
  i, .close {
    position: absolute;
    top: 50%;
    margin-top: -8px; }
  i {
    left: 20px; }
  .close {
    right: 20px; } }

.ad {
  position: absolute;
  left: 30px;
  top: 100px;
  width: 250px;
  padding: 7px;
  @include border-radius(7px);
  color: #777;
  font-size: 14px;
  border: 7px solid #e7e7e7;
  background-color: #fcf8e3; }
@media screen and (max-width: 1366px){
  .ad {
    display: none; } }