@mixin default-normal {
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

@mixin default-bold {
  font-family: 'OpenSansBold', Arial, sans-serif;;
  font-weight: normal;
  font-style: normal; }