//tweaks to form-header (extending enketo-core)

@media screen and (max-width: 820px){
  body{    
    .main{ 
      article { 
        padding-top: 70px; } } }
  .form-header{
    .branding {
      float: left; } }
  .offline-enabled{
    position: static;
    display: inline-block;
    float: left;
    .offline-enabled-icon {
      float: left;
      margin-right: 10px;
      display: block;
      &.not-enabled ~ .queue-length {
        margin-left: 0; } }
    .queue-length{
      margin-top: 0;
      margin-left: -10px;
      margin-right: 10px;
      float: left;
      display: block; } } }

@media screen and (max-width: 720px){
  .offline-enabled {
    .queue-length {
      background-color: rgb(245,245,245); } } } 

@media screen and (max-width: 600px) {
  .form-header {
    height: auto;} }

@media screen and (max-width: 490px){
  .form-language-selector {
    padding-right: 0; }
  .print {
      display: none;
      ~ .form-language-selector {
        border-right: none; } } }

@media screen and (max-width: 430px){
  body{    
    .main{ 
      article { 
        padding-top: 90px; } } }
  .form-header {
    border: none; }
  .form-language-selector {
    padding: 0;
    margin: 7px auto;
    width: 100%; }
  #form-languages {
    margin: 0;
    width: 100%
    } }

//@media screen and (max-width: 400px) { }