//tweaks to form-header (extending enketo-core)

@media screen and (max-width: 720px){
  body{    
    .main{ 
      article { 
        padding-top: 70px; } } }
  .form-header{
    .branding {
      margin-left: 30px } } }

@media screen and (max-width: 600px) {
  .form-header {
    height: auto;
    .branding {
      vertical-align: top;
      margin-left: 10px; }
    .offline-enabled{
      margin: -5px 0 8px 0;
      position: static;
      display: inline-block;
      .offline-enabled-icon {
        float: left;
        display: inline-block;
      }
      .queue-length{
        display: inline-block;
      }
    }
    .print {
      margin-right: 10px; } }
}

@media screen and (max-width: 490px){
  .form-header {
    .print {
      display: none; } } }

@media screen and (max-width: 430px){
  .form-header {
    border: none;
    .offline-enabled {
      margin-right: 5px;
      float: right; } }
  .form-language-selector {
    padding: 0;
    width: 100%; }
  #form-languages {
      margin: 0 5%;
      width:90%; } }

@media screen and (max-width: 400px) {
  .form-header {
    margin: 16px 0;
    .branding {
      margin-left: 0px;
    }
  }
}