$bg: #ddd;
$body-bg: #f0f0f0;
$shadow: #cccccc; /*light gray*/
//$title: #CE4F07;
$accent-color-1: #CE4F07;
$content_border: #E7E7E7;
//$drawer_border: #aaaaaa;
//$pagecolor: #333333;
$images-path: '../../images/';

//$drawer-width: 300px;
//$tab-width: 18px;
$content-width: 720px;

$iconSpritePath: url('/images/glyphicons-halflings.png'); 
$iconWhiteSpritePath: url('/images/glyphicons-halflings-white.png');
