$baseFontSize: 15px;
$baseLineHeight: 20px;

$bg: #ddd;
$groupline: #bbbbbb;
$shadow: #cccccc; /*light gray*/
$title: #CE4F07;
$content_border: #E7E7E7;
$drawer_border: #aaaaaa;
$pagecolor: #333333;

$drawer-width: 300px;
$tab-width: 18px;
$content-width: 720px;


body{
	background: $bg url(/images/tex2res2.png) repeat;
	font-size: 100%;
	line-height: 100%;
	.main article{
		padding: 3em;} }

@media screen and (max-width: 720px){
	body{
		background: none;
		padding: 0 !important;
		.main{ 
			margin: 0;} } }

@media screen and (max-width: 600px){
	body{
		background: none;
		padding: 0 !important;
		font-size: 110%;
		line-height:110%;
		.main{ 
			margin: 0;
			article{
				padding: 2em; } } } }

@media screen and (max-width: 400px){
	body{
		background: none;
		padding: 0 !important;
		font-size: 120%;
		line-height: 120%;
		.main{ 
			margin: 0;
			article{
				padding: 1em; } } } }

