$bg: #ddd;
$groupline: #bbbbbb;
$shadow: #cccccc; /*light gray*/
$title: #CE4F07;
$content_border: #E7E7E7;
$drawer_border: #aaaaaa;
$pagecolor: #333333;

$drawer-width: 300px;
$tab-width: 18px;
$content-width: 720px;



