$baseFontSize: 22px;
$baseLineHeight: 22px;
$iconSpritePath: '../images/glyphicons-halflings.png'; //patches bug in bootstrap-sass
$iconWhiteSpritePath: '../images/glyphicons-halflings-white.png'; //patches bug in bootstrap-sass
$mainColor: #0d0d0d;

@mixin font-normal {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

@mixin font-bold {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: bold;
  font-style: normal; }

@import "_main";
@import "_responsive";
/* overriding main rules */
body, h2,h3,h4,legend{
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $mainColor;}
h3 {
  font-weight: bolder;
  font-size: 30px; }
.btn-info{
    @include btn-info-extension-flat;}

.paper{
    border: none; }

@import "_form";
/* overriding _form rules */
.paper {
    .form-language-selector {
        border-right: none;}
    .form-header {
        display: none;} }
.btn-radiocheck{
    &:hover, &:focus, &:active, &[data-checked]{
        background-color: #e4f4ff; } }
.input-append .add-on{
    padding: 13px 5px 7px 5px;
}
#submit-form progress{
    margin: 0 auto -6px auto;}