$baseFontSize: 16px;
$baseLineHeight: 20px;

@mixin font-bold {
  @include default-bold; }

@mixin font-normal {
  @include default-normal; }

@import "main";
@import "menu";

#refresh-list{
    float: right;
    margin: -2px -14px 0 14px;
    width: 60px; }