$baseFontSize: 16px;
$baseLineHeight: 20px;
$iconSpritePath: '/images/glyphicons-halflings.png'; //patches bug in bootstrap-sass
$iconWhiteSpritePath: '/images/glyphicons-halflings-white.png'; //patches bug in bootstrap-sass

@import "_main";
@import "_responsive";
@import "_menu";

.main{
	max-width: 900px;
	min-height: 600px;
	line-height: 30px;
	img{
		width: 100%; } }

.advice{
	display: block;
	padding: 10px 0;
}

#intro>div:first-child{
	margin-top: -1em;
	margin-bottom: -.6em;
	h3{
		display: inline;
		text-align: left; } }
/*
#build ul{
	list-style-type: none;
	margin-left: 0;
	li{
		padding: 10px 0;
		> a{
			display: block;
			float: left;
			padding: 0 20px 0 0; } }
	img{
		width: 120px; } }
*/
/*
.form-count{
	display: none;}*/
.counter{
	color: #ce4f07;}

button.test, button.launch{
	width: 30%;
	margin: 0 9.5% 1.3em 9.5%;
	@media screen and (max-width: 920px){
		width: 40%;
		margin: 0 4.5% 1.3em 4.5%; }
	@media screen and (max-width: 650px){
		width: 48%;
		margin: 0 0.5% 1.3em 0.5%; }
  	@media screen and (max-width: 520px){
  		width: 100%;
  		margin: 0 0 1.3em 0; } }

.features{
	display: block;
	margin: 1em auto 1em auto;
	padding: 0;
	li{
		float: left;
		list-style: none;
		text-align: center;
		padding: 0.5em 1%;
		width: 23.5%;
		&:first-child{
			padding-left: 0; }
		&:nth-child(4){
			padding-right: 0; }
		@media screen and (max-width: 920px){
			a {
				height: 64px;} }
		@media screen and (max-width: 550px){
  			//@include small-screen-paddings;
  			padding: 0.5em 4%;
  			width: 46%;
  			&:nth-child(3){
  				padding-left: 0;};
  			&:nth-child(2){
  				padding-right: 0; }
  			a {
  				height: auto; }	}
  		@media screen and (max-width: 490px){
			a {
				height: 64px;} }
		a{
			box-sizing: border-box;
			width: 100%; } } }

.features-detail{
	p{
		display: none; 
		&.show{
			display: block; } } }
/*
#test{
	.error-msg{
		text-align: center;
		height: 2em;
		margin-bottom: -2em;}
	.btn-toolbar{
		text-align:center;
		margin: 30px 0;
		input{
			width: 25em;
			text-align: center;
			@media screen and (max-width: 700px){
				width: 15em; }
			@media screen and (max-width: 500px){
				width: 10em;
			} } } }
*/
table{
	font-size: 80%;
	&.clients{
		th, td{
			text-align: left;
			width: 60%; }
		th:not(:first-child), td:not(:first-child){
			width: 20%;
			text-align: center; } }
	&.forms{
		margin: 2em 0;
		th{
			text-align: center;}
		td{
			text-align: left;}
		th:first-child, td:first-child{
			width: 20%;
		th:nth-child(4), th:nth-child(5), td:nth-child(4), td:nth-child(5){
			text-align: center;
			width: 7%; } } } }
