/*@import "compass/reset";*/
@font-face{
  font-family: 'Open Sans';
  src: local('☺'),
        url(fonts/OpenSans-Regular.ttf) format('truetype');
}

/******* COLORS **********/
$overlay-bg: #5c5c5c; /*darker gray *///
$a-hvr: #381f00; /*very dark brown*/
$bg: #ddd;
$groupline: #bbbbbb;
$shadow: #cccccc; /*light gray*/
$title: #CE4F07;
$content_border: #E7E7E7;
$drawer_border: #D6E9C6;

$pagecolor: #333333;
/*$inverse: #999999;*/

@mixin transition-slow{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; 
}

@mixin transition-fast{
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; 
}


/** BOOTSTRAP PLUGINS **/
@import url(../libraries/jdewit-bootstrap-timepicker/compiled/timepicker.css);
@import url(../libraries/eternicode-bootstrap-datepicker/css/datepicker.css);
//@import url(../libraries/silviomoreto-bootstrap-select/bootstrap-select.css);
//@import url(../libraries/davidstutz-bootstrap-multiselect/css/bootstrap-multiselect.css);
/************************/


/****************************
 ****     GENERAL GUI    ****
 ****************************/

$drawer-width: 300px;
$tab-width: 18px;
$content-width: 720px;

body{ 
  background: $bg url(images/tex2res2.png) repeat;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.1em;}

h2, h3, h4 {
  color: $title;
  text-align: center;}

progress{
  text-align: center;}

/*:not(.jr) input{
  min-height: 30px;}*/

.navbar{
  .brand{
    font-size: 32px;
    .component{
      font-size: 13px;} } 
  nav{
    float:right; } }
  
.paper{
  /* from http://www.sitepoint.com/pure-css3-paper-curl/ by Craig Buckler */
//  position: relative;
//  margin: 0 auto;
    background-color: #fff;
//  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
//  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
//  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
//  &:before, &:after{
//    position: absolute;
//    width: 40%;
//    height: 10px;
//    content: ' ';
//    left: 12px;
//    bottom: 12px;
//    background: transparent;
//    -webkit-transform: skew(-5deg) rotate(-5deg);
//    -moz-transform: skew(-5deg) rotate(-5deg);
//    -ms-transform: skew(-5deg) rotate(-5deg);
//    -o-transform: skew(-5deg) rotate(-5deg);
//    transform: skew(-5deg) rotate(-5deg);
//    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
//    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
//    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
//    z-index: -1;}
//  &:after{
//    left: auto;
//    right: 12px;
//    -webkit-transform: skew(5deg) rotate(5deg);
//    -moz-transform: skew(5deg) rotate(5deg);
//    -ms-transform: skew(5deg) rotate(5deg);
//    -o-transform: skew(5deg) rotate(5deg);
//    transform: skew(5deg) rotate(5deg);}}

  border-radius: 7px;
  border: 7px solid $content_border;}

.drawer{
  position: fixed;
  z-index: 15;
  border: 1px solid $drawer_border;
  border-radius: 0 4px 4px 0;
  border-color: #aaaaaa;
  -moz-transition: margin 0.8s ease-out;
  -webkit-transition: margin 0.8s ease-out;
  transition: margin 0.8s ease-out;
  font-size: 16px;
  &.left{
    bottom: 20%;
    left: 0;
    width: $drawer-width;
    height: 80px;}
  &.closed{
    margin-left: $tab-width+2px-$drawer-width;}
  .content{
    padding: 20px;  }
  .handle{
    z-index: 101;
    width: $tab-width;
    height: 100%;
    border-radius: 0 4px 4px 0;
    &.hasrecords{ }
    &.right{
      float: right;
      border-left: 3px ridge #ccc; } }
  #status{
    display: inline-block;
    &.offline{
      color: red;}
    &.waiting{
      color: orange;} }
  .queue-length{ }
  #status-offline-launch{
    display: block; }
  button#drawer-export{
    display: block; } }
 
#branding{
  position: fixed;
  z-index: -5;
  width: 120px;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  text-align: center;
  line-height: 1.3em;
  color: #666;
  font-size: 1.1em;
  a:link, a:hover, a:visited{
    text-decoration: none;
    color: #666;}
  a:hover{
    color: #444;} }

.main {
  margin: 100px auto 20px auto;
  position: relative;
  display: block;
  text-align: left; 
  max-width: $content-width;
  article {
    padding: 50px;
    min-height: 300px; }
  ul.nav-tabs{
      margin: 20px 0 0 0;
      li{
        margin: 0;
        a{
          background: none; } } } }

textarea.source {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: 100%;
  height: 500px;
  font-size: .8em;
  padding: 5px; }

label#data-template-show {
  float:right; }

#upload{
  form{
    position:relative;
    text-align: center;
    height: 150px;
    #input-switcher{
      //position: absolute;
      //top: 130px;
      //left: ($content-width - 57px) / 2;
      margin-top: 10px; }
    label {
      //position: absolute;
      //top: 130px;
      //left: 5%;
      text-align: center;
      margin-top: 20px;
      padding: 0 5%;
      display: block;
      z-index: 0;
      width: 80%; }
    label>span {
      display: block; }
    .fakefileinput span{
      /*font: 12px sans-serif;
      font-weight: 600;*/
      vertical-align: middle;
      /*opacity: 0.5;*/}
    input, .fakefileinput {
      position: absolute;
      top: 50px;
      left: 0px;
      display: block;
      width: 100%%;
      margin: 10px 0 10px 0;
      min-height: 30px;
      text-align: center; }
    input[type=file] {
      z-index: 5;
      opacity: 0; }
    .hurry{
      font-size: 13px;
      margin-top: 180px;} }
  #form-list{
    margin-top: 20px;
    ul{
      width: 100%;
      margin: 4px;
      list-style-type: none;
       } } }  

.hint{
  //$hwidth: 30px;
  //background-color: $shadow;
  //color: #777;
  display: inline-block;
  margin-left: 5px;
  //margin: 12px 5px 0 5px;
  //padding: 0 0 0 2px;
  //width: $hwidth;
  //height: $hwidth;
  //border-radius: $hwidth/2;
  //font-size: 16px;
  //line-height: $hwidth;
  //font-weight: bolder;
  //text-align: center;
}

#launch form{
  margin-top: 20px; 
  input{
    width: 300px; } }

/*footer.ui-widget {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 10px;
  a {
    text-decoration: none;
    color: $overlay-bg; }
  color: $overlay-bg; }
 */

/***************************
 ** FEEDBACK BAR & PAGE **
 ***************************/

#feedback-bar {
  position: fixed;
  z-index: 13;
  top: -100px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 35px;
  height: auto;
  border-left: none;
  border-right: none;
  p {
    position: relative;
    margin: 0 50px;
    text-align: center;
    padding: .6em 0;
    font-size: 0.9em;
    border-top: 1px #ddd dashed;
    &:first-child {
      border-top: none; } }
  i, .close {
    position: absolute;
    top: 50%;
    margin-top: -8px; }
  i {
    left: 20px; }
  .close {
    right: 20px; } }

.page{
  display:none;
}

#page {
  position: absolute;
  z-index: 12;
  top: -320px;
  min-height: 250px;
  width: 100%;
  background-color: $pagecolor;
  border-top: 1px solid #888;
  border-bottom: 2px solid black;
  border-left: none;
  border-right: none; 
  .content {
    margin: 2em;
    p {
      &:first-child {
        margin-top: 0; }
      &:last-child {
        margin-bottom: 0; } }
    /*a {
      color: $button-bg;
      text-decoration: none;
      &:link{
        color: $button-bg; }
      &:hover, &:focus{
        text-decoration: underline;
        color: $highlight-bg;} 
      &:active {
        color: $header-txt;
        text-decoration: none; } } } 
    /*.ui-icon {
      float: left;
      margin-right: 10px; } }*/ }
  .close {
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 1;
    text-shadow: none; }
  .column {
    width: 50%;
    float: left;
    height: 100%; } }
/*
#settings {
  h3 {
    text-align: left; }
  input {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 0; }
  label {
    display: block;
    margin-bottom: 5px; }
  ul {
    margin-left: 0;
    list-style: none; } }

#records-saved {
  width: 45%;
  float: left;

  h3 {
    }
  .scroll-list{
    border-color: white;
    min-height: 150px;
    max-height: 300px; 
    overflow: auto;
  } }

#form-list{
  ol{
    margin: 0px;
    li {
      display: block;
      text-align: center;
      a{
        font-size: 12px;
        width: 100%; } } } }

.scroll-list {
  position: relative;
  border: 1px solid; 

  margin: 0;
  padding: 15px;

  >div {
    position: relative;
    width: 100%;
    height: 100%; 
    ol {
      position: relative;
      top: 0;
      left: 0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        list-style: none;
        margin: 3px;
        padding: 0.5em;
        line-height: 1.3em;
        height: 1em;
        font-size: 0.8em;
        overflow: hidden;
      
        .date {
          font-size: .6em;
          float: right; }
        .name {}
        &.no-click {
          font-style: italic;
          text-align: center;
          margin: 40px; } } } } }

#records-summary {
  margin: 0;
  margin-top: 5px;

  font-size: 0.6em;
  text-align: center;
  .ui-icon {
    display: inline-block;
    float: none; }
  .ui-icon-pencil {
    margin-left: 3em; } }

#records .column {
  &.middle {
    width: 10%;
    height: 100%; }
  &.right {

    width: 45%;
    float: right;
    text-align: center;
    margin-top: 30px;
    margin-right: -10px;
     }
  .ui-icon {
    display: inline-block;
    float: none; } }

#records-buttons {

  margin: 20% auto 5% auto;
  button {
     } }

#records-force-upload-info, #records-export-info {
  display: none;
  font-size: .8em;
  margin: 0 2em;
  line-height: 1.5em; }

/* these transitions should match */
#feedback-bar, #main, #page {
    @include transition-slow }

/**************************
****    SURVEY FORM    ****
**************************/
.paper{
  margin: 0 0 40px 0;
  #submit-form, #submit-edited-data, #validate-form, #launch-form{
    display: block;
    margin: 10px auto 45px auto; } }

.jr [lang]:not(.active), .jr-hint, .jr-option-translations, .jr-appearance-page-break, .jr-constraint-msg.alert-error {
  display: none; }

#form-languages{
  margin-bottom: 8px;
  height: 15px;
  font-size: 0.8em; 
  a {
  &:link{
  float: right;
  padding-left: 10px;
  color: $overlay-bg;}
  &:not(.active):hover {
    color: $a-hvr;
    text-decoration: underline; }
  &.active {
    color: $a-hvr;
    text-decoration: none; } } }

.tab-content #form-languages {
  margin-top: -10px; } 

$line: 3px solid $groupline;
$input-height: 30px;
$input-min-width: 0.2 * $content-width;
$input-max-width: 80%;

.jr {
  //line-height: 1.1em;  
  .form-logo img {
    position: relative;
    left: 50%;
    max-height: 200px;
    width: 120px;
    margin: 0 0 10px -60px; }
  h3{
    text-align: left;
    padding: 5px 0 15px 0;
    border-top: solid 9px #000;
    border-bottom: $line;
  }
  h4{
    text-align: left;  }
  .jr-repeat {
    /*border: 1px dotted $shadow;*/
    background-color: lighten($title, 55%);
    margin: 0 0 3px 0;
    padding: 0 10px 10px 10px;
    .repeat-number {
      height: 2em;
      display: block;
      float: right;
      margin: 8px 0 0 0;
      color: $title; } } 
  .jr-group{
    border-top: $line; /**/
    margin: .5em 0;
    .jr-group{
      margin: 25px 0 0 25px;
      padding: 0 0 0 15px;
      border-left: $line;
      border-top: none; } }
  #stats + .jr-group, #jr-preload-items + .jr-group, #form-languages + .jr-group{
    border-top: none;}
  label, fieldset {
//    box-sizing: border-box;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    -ms-box-sizing: border-box;
//    display: block;
    /*width: 100%;
    padding: 16px 14px; */
    padding-top: 14px;
    font-weight: bold; }
  legend {
    margin-bottom: 0;
//    position: absolute;
//    top: 1.5em;
//    font-weight: bold;
    ~ label {
        padding: 5px 0 2px 0;
//      border-top: none;
//      padding: .5em 0 .5em 0;
//      margin-left: 25px;
        font-weight: normal; 
        &:hover{
          background-color: lighten($title, 48%);;} }
    + label {
//      margin-top: 25px; } }
//  fieldset {
//    position: relative; 
  }}
  label, legend, .trigger {
    font-size: .8em; }
  input:not([type="radio"]):not([type="checkbox"]), textarea, .bootstrap-select, .bootstrap-multiselect{
    float: left;
    display: inline-block;
    margin: 8px 0 0 0;
  }
  input:not([type="radio"]):not([type="checkbox"]), textarea{
    height: $input-height;
  }
  input {
    /*box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;*/
    /*display: block;*/
    /*font-size: .9em;*/
    &[type="text"]{
      width: $input-max-width }
    &[type=date], &[type=number], &[type=email], &[type=password] {
      width: $input-min-width;
      /*text-align: right;*/ }
    &[type=radio], &[type=checkbox] {
      margin: 0 10px 1px 10px;
      /*display: block;*/
      /*margin-top: 5px;*/
      /*compensates for the label margin, fixes multi-line labels */
      /*margin-left: -25px; */} }
  textarea{
    width: $input-max-width;
    resize: vertical;
    min-height: 9em;}
  /*select {
    display: block; }*/
  fieldset {
    .one-more {
      margin: 0 -34px -5px 10px; }
    .remove {
      float: right;
      margin-right: 0; } }
  .add-on{
    padding: 9px 5px;
    margin-top: 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;}
  .alert{
    margin-bottom: 4px;}
  .trigger {
    padding: 7px 12px;
    margin: 1em 0; }
  .required{
    margin-left: 3px;
    color: $title;}
  .disabled {
    opacity: 0.5; }
  .jr-constraint-msg.alert-error {
   @include transition-fast; }
  .invalid {
    .jr-constraint-msg.active.alert-error {
      display: block;
      font-weight: bold;
      font-style: italic; } }
  .jr-branch {
    border-top: 1px solid $shadow;
    border-bottom: 1px solid $shadow;
    background-color: $shadow;
    height: 8px;
    text-align: center;
    margin: 10px 0;
    opacity: 0.5; }
  .date input{
    float: left;
    width: $input-min-width;}
  .datetimepicker{
    float: left;
    .bootstrap-timepicker-component{
      display: inline-block;
      }
    .date{
      display: inline-block;
      margin-right: 10px;
      /*input{
        width: $input-min-width;} */} }
  .geopoint{ 
    position: relative;
    height: 370px;
    $map-height: 275px;
    .map-canvas, input[name="search"]{
      width: 380px;
      //float: right;
      //border: 1px solid #ccc;
      //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      /*border: 1px solid $shadow;*/ }
    .map-canvas{
      position: absolute;
      right: 0;
      bottom: 50px;
      padding: 0 6px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-top: 10px;
      height: $map-height}
    input[name="search"]{
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: center;
      //border-top-left-radius: 0;
      //border-top-right-radius: 0;
      //margin-top: 0;
      //border-top: 1px solid #ccc;
      }
    label.geo{
      position: absolute;
      border: none;
      padding: 0;
      margin: 0;
      //padding: 2px 0;
      &:nth-of-type(1){
        bottom: 50px + 3 * $map-height/4; }
      &:nth-of-type(2){
        bottom: 50px + 2 * $map-height/4; }
      &:nth-of-type(3){
        bottom: 50px + $map-height/4; }
      &:nth-of-type(4){
        bottom: 50px;}
      > input{
        float: none;
        display: block;
        margin: 0; } }
    button{
      position: absolute;
      bottom: 0;
      height: 40px;
      width: $input-min-width + 16px;
      margin-top: 10px;} }
  .bootstrap-timepicker-component{
    &.input-append .active{
      background: none;
      border: none; } }
  .bootstrap-select .dropdown-toggle{
    line-height: $input-height;
    min-width: $input-min-width - 14px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .bootstrap-multiselect .dropdown-toggle{
    font-weight: normal;
    line-height: $input-height;
    text-align: left;
    min-width: $input-min-width + 16px;
    ~ .dropdown-menu{
      a{
        }
      label{
        font-weight: normal;
        padding-top: 0px;
        padding-left: 0px; 
        font-size: 1em;
        input{
          margin: 5px 10px 1px 0; } } } } }

.with-media {
  margin-top: 5px; 
  >span.active {
    display: block;
    width: 100%; } 
  input {
    float: left;
    width: 5%;
    margin-top: -17px; }
  img, video, audio {
    max-width: 45%;
    padding-right: 5%;
    display: block;
    float: right; } } 

.jr-appearance-compact{
  display: inline;
  span {
    display: none; }
  img {
    float: left;
    width: 120px;
    height: 120px;
    padding: 5px;
    margin-top: 25px; }
  input {
    &[type=radio], &[type=checkbox] {
      /*display: none;*/
      margin-top: 35px; } } }

