$baseFontSize: 16px;
$baseLineHeight: 20px;

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

@import "_variables";
@import "_mixins";

/** BOOTSTRAP PLUGINS **/
@import "../../public/libraries/jdewit-bootstrap-timepicker/timepicker";
@import "../../public/libraries/eternicode-bootstrap-datepicker/datepicker";

@font-face{
  font-family: 'Open Sans';
  src: local('☺'),
        url(fonts/OpenSans-Regular.ttf) format('truetype');
}

/****************************
 ****     GENERAL GUI    ****
 ****************************/

body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: $bg url(/images/tex2res2.png) repeat;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  .main article{
    padding: 3em;} }

@media screen and (max-width: 720px){
  body{
    background: none;
    padding: 0 !important;
    .main{ 
      margin: 0;} } }

@media screen and (max-width: 600px){
  body{
    background: none;
    padding: 0 !important;
    @include font-sizes($baseFontSize, 1.1);
    line-height: 1.1 * $baseLineHeight;
    .main{ 
      margin: 0;
      article{
        padding: 2em; } } } }

@media screen and (max-width: 400px){
  body{
    background: none;
    padding: 0 !important;
    @include font-sizes($baseFontSize, 1.2);
    line-height: 1.2 * $baseLineHeight;
    .main{ 
      margin: 0;
      article{
        padding: 1em; } } } }

h2, h3, h4 {
  color: $title;
  text-align: center;}

progress{
  display: block;
  margin: 10px auto;}

.navbar{
  .brand{
    font-size: 2em;
    .component{
      font-size: 0.4em;} } 
  nav{
    float:right; } }
  
.paper{
	background-color: #fff;
	border-radius: 7px;
	border: 7px solid $content_border;}

.drawer{
  position: fixed;
  z-index: 15;
  border: 1px solid $drawer_border;
  border-radius: 0 4px 4px 0;
  -moz-transition: margin 0.8s ease-out;
  -webkit-transition: margin 0.8s ease-out;
  transition: margin 0.8s ease-out;
  font-size: 1.1em;
  &.left{
    bottom: 20%;
    left: 0;
    width: $drawer-width;
    height: 80px;}
  &.closed{
    margin-left: $tab-width+2px-$drawer-width;}
  .content{
    padding: 20px;  }
  .handle{
    z-index: 101;
    width: $tab-width;
    height: 100%;
    border-radius: 0 4px 4px 0;
    &.hasrecords{ }
    &.right{
      float: right;
      border-left: 3px ridge #ccc; } }
  #status{
    display: inline-block;
    &.offline{
      color: red;}
    &.waiting{
      color: orange;} }
  .queue-length{ }
  #status-offline-launch{
    display: block; }
  button#drawer-export{
    display: block; } }
 
#branding{
  position: fixed;
  z-index: -5;
  width: 120px;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  text-align: center;
  line-height: 1.3em;
  color: #666;
  font-size: 1.3em;
  a:link, a:hover, a:visited{
    text-decoration: none;
    color: #666;}
  a:hover{
    color: #444;} }

.main {
  margin: 100px auto 60px auto;
  position: relative;
  display: block;
  text-align: left; 
  max-width: $content-width;
  article {
    //padding: 50px;
    min-height: 300px; }
  ul.nav-tabs{
      margin: 20px 0 0 0;
      li{
        margin: 0;
        a{
          background: none; } } } }

textarea.source {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: 100%;
  height: 500px;
  font-size: .8em;
  padding: 5px; }

label#data-template-show {
  float:right; }

#upload{
  form{
    position:relative;
    text-align: center;
    height: 150px;
    #input-switcher{
      position: absolute;
      top: 30px;
      left: 275px;}
    label {
      text-align: center;
      margin-top: 20px;
      padding: 0 5%;
      display: block;
      z-index: 0;
      width: 80%; }
    label>span {
      display: block; }
    .fakefileinput span{
      vertical-align: middle;}
    input, .fakefileinput {
      position: absolute;
      top: 50px;
      left: 0px;
      display: block;
      width: 100%%;
      margin: 10px 0 10px 0;
      min-height: 30px;
      text-align: center; }
    input[type=file] {
      z-index: 5;
      opacity: 0; }
    .hurry{
      font-size: .8em;
      margin-top: 180px;} }
  #form-list{
    margin-top: 20px;
    ul{
      width: 100%;
      margin: 4px;
      list-style-type: none;
       } } }  

.hint{
  //$hwidth: 30px;
  //background-color: $shadow;
  //color: #777;
  display: inline-block;
  margin-left: 5px;
  //margin: 12px 5px 0 5px;
  //padding: 0 0 0 2px;
  //width: $hwidth;
  //height: $hwidth;
  //border-radius: $hwidth/2;
  //font-size: 16px;
  //line-height: $hwidth;
  //font-weight: bolder;
  //text-align: center;
}


.tooltip{
  /* fix for tooltips when places inside a label/legend element (All)*/
  font-weight: normal !important;
  /* fix for tooltips when placed inside a legend element (Safari)*/
  line-height: 18px !important;}

#launch form{
  margin-top: 20px; 
  input{
    width: 300px; } }

/***************************
 ** FEEDBACK BAR & PAGE **
 ***************************/

#feedback-bar {
  @include transition-slow;
  position: fixed;
  z-index: 13;
  top: -100px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 35px;
  height: auto;
  border-left: none;
  border-right: none;
  p {
    position: relative;
    margin: 0 50px;
    text-align: center;
    padding: .6em 0;
    font-size: 1.1em;
    &+p {
      border-top: 1px #ddd dashed; } }
  i, .close {
    position: absolute;
    top: 50%;
    margin-top: -8px; }
  i {
    left: 20px; }
  .close {
    right: 20px; } }

.page{
  display:none;
}

#page {
  $border: 1px solid #888;
  @include transition-slow;
  position: absolute;
  line-height: 30px;
  z-index: 12;
  top: -320px;
  min-height: 250px;
  width: 100%;
  background-color: $pagecolor;
  border: none;
  border-top: $border;
  hr {
    position: absolute;
    margin: 0;
    bottom: 1px;
    height: 1px;
    width: 100%;
    border: none;
    border-top: $border;}
  .content {
    margin: 2em;
    p {
      &:first-child {
        margin-top: 0; }
      &:last-child {
        margin-bottom: 0; } } }
  .close {
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 1;
    text-shadow: none; }
  .column {
    width: 50%;
    float: left;
    height: 100%; } }

/**************************
****    SURVEY FORM    ****
**************************/
.paper{
  //margin: 0 0 40px 0;
  #submit-form, #submit-edited-data, #validate-form, #launch-form{
    display: block;
    margin: 45px auto 5px auto; } }

.jr [lang]:not(.active), .jr-hint, .jr-option-translations, .jr-appearance-page-break, .jr-constraint-msg.alert-error {
  display: none; }

#form-languages{
  margin-bottom: 8px;
  height: 15px;
  font-size: 0.8em; 
  a {
  &:link{
  float: right;
  padding-left: 10px;}
  &:not(.active):hover {
    text-decoration: underline; }
  &.active {
    color: $drawer_border;
    text-decoration: none; } } }

.tab-content #form-languages {
  margin-top: -10px; } 

$line: 3px solid $groupline;
$input-height: 30px;
$input-min-width: 0.2 * $content-width;
$input-max-width: 80%;

html.touch{
  @include hints-visible;
} 

.jr {
  .form-logo img {
    position: relative;
    float: none;
    left: 50%;
    max-height: 200px;
    width: 120px;
    margin: 0 0 10px -60px; }
  h3{
    //text-align: left;
    padding: 5px 0 15px 0;
    border-top: solid 9px #000;
    border-bottom: $line;
  }
  h4{
    text-align: left;  }
  .jr-repeat {
    background-color: lighten($title, 55%);
    margin: 0 0 3px 0;
    padding: 0 10px 10px 10px;
    .repeat-number {
      height: 2em;
      display: block;
      float: right;
      margin: 8px 0 0 0;
      color: $title; } } 
  .jr-group{
    border-top: $line; /**/
    margin: .5em 0;
    .jr-group{
      margin: 25px 0 0 25px;
      padding: 0 0 0 15px;
      border-left: $line;
      border-top: none; } }
  #stats + .jr-group, #jr-preload-items + .jr-group, #form-languages + .jr-group{
    border-top: none;}
  label, fieldset {
    padding-top: 14px;
    font-weight: bold; }
  legend {
    margin-bottom: 0;
    ~ label {
        padding: 5px 0 2px 0;
        font-weight: normal; 
        &:hover{
          background-color: lighten($title, 48%);} } }
  label, legend, .trigger {
    font-size: 1em; }
  img, audio, video{
    float: right;
    max-height: 300px;
    max-width: 70%;}
  input:not([type="radio"]):not([type="checkbox"]), textarea, select{
    float: left;
    display: inline-block;
    margin: 8px 0 0 0;
  }
  input:not([type="radio"]):not([type="checkbox"]), textarea{
    height: $input-height;
  }
  input {
    &[type="text"]{
      width: $input-max-width }
    &[type=date], &[type=number], &[type=email], &[type=password] {
      width: $input-min-width;}
    &[type=radio], &[type=checkbox] {
      margin: 0 10px 1px 10px;} }
  textarea{
    width: $input-max-width;
    resize: vertical;
    min-height: 9em;}
  fieldset {
    .one-more {
      margin: 0 -34px -5px 10px; }
    .remove {
      float: right;
      margin-right: 0; } }
  .add-on{
    padding: 9px 5px;
    margin-top: 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;}
  .alert{
    margin-bottom: 4px;}
  .trigger {
    padding: 7px 12px;
    margin: 1em 0; }
  .required{
    margin-left: 3px;
    color: $title;}
  .disabled {
    opacity: 0.5; }
  .jr-constraint-msg.alert-error {
   @include transition-fast; }
  .invalid {
    .jr-constraint-msg.active.alert-error {
      display: block;
      min-height: 30px;
      font-weight: bold;
      font-style: italic; } }
  .jr-branch {
    border-top: 1px solid $shadow;
    border-bottom: 1px solid $shadow;
    background-color: $shadow;
    height: 8px;
    text-align: center;
    margin: 10px 0;
    opacity: 0.5; }
  .date, .bootstrap-timepicker-component {
    input{
      width: $input-min-width;} }
  .datetimepicker{
    float: left;
    .bootstrap-timepicker-component{
      display: inline-block;}
    .date{
      display: inline-block;
      margin-right: 10px; } }
  .geopoint{ 
    position: relative;
    height: 340px;
    $map-height: 275px;
    .map-canvas, input[name="search"]{
      width: 380px; }
    .map-canvas{
      position: absolute;
      right: 0;
      bottom: 50px;
      padding: 0 6px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-top: 10px;
      height: $map-height}
    input[name="search"]{
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: center; }
    label.geo{
      position: absolute;
      border: none;
      padding: 0;
      margin: 0;
      //padding: 2px 0;
      &:nth-of-type(1){
        bottom: 50px + 3 * $map-height/4; }
      &:nth-of-type(2){
        bottom: 50px + 2 * $map-height/4; }
      &:nth-of-type(3){
        bottom: 50px + $map-height/4; }
      &:nth-of-type(4){
        bottom: 50px;}
      > input{
        float: none;
        display: block;
        margin: 0; } }
    button{
      position: absolute;
      bottom: 0;
      height: 40px;
      width: $input-min-width + 16px;
      margin-top: 10px;} }
  .bootstrap-select{
    margin-top: 15px;
    .dropdown-toggle{
    line-height: $input-height;
    min-width: $input-min-width - 14px;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: left;
    min-width: $input-min-width -14px;
    a .filter-option{
      padding-right: 10px;}
    ~ .dropdown-menu{
      label{
        font-weight: normal;
        padding-top: 0px;
        padding-left: 0px; 
        font-size: 1em;
        input[type="checkbox"]{
          margin: 5px 10px 1px 0; } } } } }
  .jr-appearance-list-nolabel, .jr-appearance-label{
    legend{ 
      float: left;
      border: none;
      line-height: 17px;
      max-width: 40%;
      //border: 1px solid red;
      min-height: 1px;}
    label{
      float: left;
      //border: 1px solid red;
      display: block;
      //width: 100px;
      text-align: center;}
    input{
      text-align: center;} }
  .jr-appearance-list-nolabel{
    label span.active, img{
        display: none;
        float: none; } }
  .jr-appearance-label{
      label:hover{
        background: none;}
      input{
          float: none;
          display: none; } 
      img{
        display: inline-block;
        float: none;} } 
    /*fieldset{
      padding: 0;
      margin: 0;}
    th{
      input{
        display: none;} }
    td{
      label>span.active{
        display: none; } }*/
  .with-media{
    > input[type="radio"], > input[type="checkbox"]{ 
      ~ span.active:not(.jr-hint):not(.jr-constraint-msg){
      display: block;
      margin: -18px 0 0 40px;} } } 
  .jr-appearance-compact, .jr-appearance-quickcompact{
    legend{
      border: none;}
    label{
      float: left;
      /*width: 120px; */
      &:hover{
        background: none;}
      span.active:not(.jr-hint):not(.jr-constraint-msg){
        display: none; } }
    input{
      display: none;
      ~ img{
        max-width: 150px;
        max-height: 150px;
        border: 2px solid transparent;}
      ~ img:hover{
        border-color: lighten($title, 30%);}
      &:checked ~ img, &:checked ~ img:hover{
        border-color: $title; } } }
  label>input[type="radio"]+img, label>input[type="checkbox"]+img{
    /*margin-top: -25px;*/ } }
  


