$baseFontSize: 15px;
$baseLineHeight: 20px;
$accent-color-1: #CE4F07;

@mixin font-bold {
  font-family: Arial, sans-serif;;
  font-weight: bold;
  font-style: normal; }

@mixin font-normal {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

@import "main";
@import "side-slider";
@import "form_grid";
@import "form_header";
@import "responsive";
