$baseFontSize: 15px;
$baseLineHeight: 20px;

@mixin font-bold {
  @include default-bold; }

@mixin font-normal {
  @include default-normal; }

@import "main";
@import "form";
@import "form_header";
@import "responsive";
@import "iframe";

.paper .branding{
		display: none;}

@media screen and (max-width: 720px){
	body .form-header{
		border-bottom: none;} }